
/*@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot');src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2') format('woff2'),url('../fonts/fontawesome-webfont.woff') format('woff'),url('../fonts/fontawesome-webfont.ttf') format('truetype'),url('../fonts/fontawesome-webfont.svg') format('svg');}*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff') format('woff'),url('../fonts/fontawesome-webfont.ttf') format('truetype'),url('../fonts/fontawesome-webfont.svg') format('svg');
}
.companyname{color:#fff; font-size: 20px; font-weight: 600;}
.searchfinal .dataTables_filter{display: flex; flex-direction: row;}
.searchfinal .dataTables_filter ul{display: flex; flex-direction: row;}
.searchfinal .dataTables_filter ul li{display: flex; margin-right:5px;}
.table tbody th {
    vertical-align: bottom;
    border-bottom: 4px solid  #ff784f;
}
.searchfinal{margin-bottom:0px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{background-color: #fff;   color: #333;      padding: 4px 30px 3px 20px;     border: 1px solid #ccc!important;}
/*.select2-container{width:inherit!important;}*/
.searchfinal .select2-container{width:100%!important;}
.select2-container--default .select2-selection--single{border:0px solid #ccc!important;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #333 transparent transparent transparent;
}
.card .card-header span{display: inline-block!important;}
.btn-inverse:hover{color:#fff;}
.card-block h5{line-height: 35px;}
.name .control-label {
    margin-bottom: 6px;
    display: inline-block;
}
/*.pcoded .pcoded-header[header-theme="themelight5"]{background: linear-gradient(to right, #a1ceff, #3988de);}*/
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px!important;
    right: 5px!important;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  .searchfinal .card-block .inlineblock .col-sm-2,   .searchfinal .card-block .inlineblock .col-sm-1{    padding-right: 5px!important; padding-left: 5px!important;}
  .input-group a {  padding-top: 10px;  padding-bottom: 5px; font-size:15px!important;}
  .input-group{margin-bottom:10px!important;}
  .btnsearchicon {
    background: #00bcd4 url(../images/icon_btnsearch.png) no-repeat scroll 8px center !important;
    border: 1px solid #00bcd4 !important;
    padding-left: 28px !important;
}
.login-card{margin:15px auto!important;}
.table-bordered td, .table-bordered th{overflow: hidden;}

/*Css added by Divya on 01/04/2019*/
.fullWidth{width: 100%;}
.max_width170{max-width: 170px;height:40px;}
.form-control {height: 37px;}

.margin_top10{margin-top: 10px;}
.margin_bottom0{margin-bottom:0px !important}
.margin_bottom5{margin-bottom: 5px;}
.margin_bottom10{margin-bottom: 10px;}
.margin_right20{margin-right: 20px;}
.padding_top30{padding-top: 30px;}

.float_left{float: left;}

.file {visibility: hidden;position: absolute;display: none;}
.error_text{color: red;}

.custom_datepicker .input-group-addon{color: #495057;background-color: #e9ecef;}
.custom_datepicker .input-group{height: 45px;}
.bowser_div .disblock{width:100%;}
.bowser_div{display:flex; flex-direction:row; flex-wrap:wrap;justify-content:flex-start; align-items:flex-start;}
.bowser_div input[type="text"]{width:60%;}
.bowser_div .input-group-btn{width:40%;}
.bowser_div .input-group-btn i{display:none;}
.bowser_div .input-group-btn .btn{padding-left:10px; padding-right:10px;}

.addexcel_end{display: flex;flex-direction: row;justify-content: flex-end;}
.addexcel_end ul{display: flex;flex-direction: row;}

.addexcel_start{display: flex;flex-direction: row;justify-content: flex-start;}
.addexcel_start ul{display: flex;flex-direction: row;}

.addexcel_start .form-control,.addexcel_end .form-control{height: 37px;}


.btnsaveicon {font-size: 15px; background: #59e0c5 url("../images/btn_save.png") no-repeat scroll 8px 9px !important;border: 1px solid #59e0c5 !important;padding-left: 30px;color: #fff;}
.btncancelicon {background: #FF5370 url(../images/btn_cancel.png) no-repeat scroll 8px 13px !important;border: 1px solid #FF5370 !important;padding-left: 24px;color: #fff;font-size: 15px;}
.btnaddicon {background: #00bcd4 url(../images/btn_add.png) no-repeat scroll 8px 12px !important;border: 1px solid #00bcd4 !important;padding-left: 24px;color: #fff;font-size: 15px;}
.btnreseticon{background: #4099ff url(../images/btn_reset.png) no-repeat scroll 6px 10px !important;border: 1px solid #4099ff !important;padding-left: 24px;color: #fff;font-size: 15px;}

.icon_text .input-group-addon{height: 37px;padding: 0px;}
.icon_text.input-group a {padding-top: 5px;color: #fff;}
.modalbackground {background-color: rgba(54, 54, 54, 0.5);height: 100%;left: 0;position: fixed;top: 0;width: 100%;z-index: 9000 !important;}
.modalpopupbackground {background-color: rgba(54, 54, 54, 0.5);height: 100%;left: 0;position: fixed;top: 0;width: 100%;z-index: 9981 !important;}

.footer {bottom: 0;position: relative;width: 100%;z-index: 9;}
.btn-info{color:#fff!important;}
.ttlh4{font-size: 20px; margin-top: 10px;}
.footer {bottom: 0;position: relative;width: 100%;z-index: 9;}
.footer {bottom: 0;position: relative;width: 100%;z-index: 9;}
.dnone{display: none!important;}
.datepicker{z-index:999999!important;}


.close {margin-top: 0;font-size: 18px;}
.Addstock_popup.modal_popup{top:0px !important}
.select2-container--open{z-index: 99999;}
.modal-body{max-height: 500px;overflow-y: auto;}

.reqerror{color:#ff0000;}
.minheight500{min-height:500px;}
.pcoded .pcoded-navbar .pcoded-item>li>a{font-size: 15px!important;}

.pcoded .pcoded-header[header-theme="themelight5"] {
    background: linear-gradient(to right,#ff5370,#ff784f); 
}
.marbtmzro{margin-bottom: 0px!important;}

.header-search .form-control{height:auto!important;}
.nav-left li a{cursor: pointer;}
.card .card-block{padding:12px!important;}
.pad10{padding:0px 10px!important;}
.custom_datepicker .input-group-addon, .btn{height:37px!important;}
.btn.btn-mini{height:auto!important;}
.modal-content{border-radius:0px!important; }
.modal-header{ background: linear-gradient(to right,#ff5370,#ff784f); color:#fff;}
.card .card-block.padleft25{padding-left: 25px!important;}
.main-body .page-wrapper {
    padding: 0.8rem!important;
    transition: all ease-in 0.3s;
}

@media screen and (min-width:1400px){
.minheight500{min-height: 650px;}
.modal-dialog {
    max-width:800px!important;
    margin: 30px auto;
}
}
.pagination, .pager li>a {
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
}

.pagination a, .pagination span {
    background-color: none;
    border:0px solid #ddd;
    color: #337ab7;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 3px 10px;
    position: relative;
    text-decoration: none; border-radius:15px;
}
.pagination span {
    border: 0px;
    background-color: #2dc3e8;
    border-color: #2dc3e8;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.paginationGrid td span {
    padding-top: 3px !important;
}
.pagination {
    float: right;
}
.pagination, .pager {
    margin: 0;
}
.paginationGrid a i{font-size: 17px!important; color:#333;}
.loader_div{position: fixed;
 width: 100%; 
 height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 900002;
 }
 .loader{top:50%;}
 .loader .circle:after {background-color: #125abf;}

 .iconmegh a {
    background: rgba(0, 0, 0, 0) url(..//images/logo_meghtechnologies.png) no-repeat scroll left 3px;
    display: inline-block;
    height: 23px;
    margin-left: 4px;
    width: 20px;
}

.checkbox-info .checkbox-fade, .checkbox-info .checkbox-zoom{margin-top:10px;}
.div_block {
    display: block;
    float: none;
    margin-top: -10px;
}
.margin_set1 {margin-top: 30px;}
.set_w99 .select2-container--default .select2-selection--single .select2-selection__rendered {width: 99%;}
.header-navbar .navbar-wrapper .header-search .main-search {padding: 17px 0 0px!important;}
.finaladdupdate .card-header {    border-bottom: 4px solid #ff784f;}

.table {
    margin-bottom: 0;
}

    table.RemoveTopBorder{      
        border-top-style: hidden;
    }

.BlockStructure {
    display: block;
}


.autocompletedrop, .autocomplete_completionListElement {
    background: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow: auto;
    margin: 0px;
    padding: 0px 0px 0px 20px;
}
.marginbtm0 .custom_datepicker .input-group{margin-bottom:0px!important;}
.marginbtm01{margin-bottom: 0!important;}
.bewtten_div{justify-content: space-between;}

/****************** tab ****************/
.ajax__tab_xp .ajax__tab_header {
    padding-left: 0px;
    font-size: 12px !important;
    background: #f2f2f2 !important;
}

.ajax__tab_inner, .ajax__tab_tab, .ajax__tab_outer {
    background: none !important; /*background: #EBEDF1 !important; */
    padding: 0px 10px 0px 10px;
    color: #595959;
}

.ajax__tab_active .ajax__tab_inner, .ajax__tab_active .ajax__tab_tab, .ajax__tab_active .ajax__tab_outer {
    background: none !important;
    background: #ffffff !important;
    color: #000000;
}

.ajax__tab_hover .ajax__tab_inner, .ajax__tab_hover .ajax__tab_tab, .ajax__tab_hover .ajax__tab_outer {
    background: none !important;
    background: #fafafa !important;
    color: #000;
}

.ajax__tab_xp .ajax__tab_tab {
    height: 20px !important;
    line-height: 16px;
}

.ajax__tab_tab {
    margin-top: 10px;
}

.ajax__tab_xp .ajax__tab_outer {
    height: 30px !important;
    border-top: 0px solid #cccccc;
    margin-right: -1px;
    color: #909090 !important;
}

.ajax__tab_xp .ajax__tab_body {
    padding: 8px 15px !important;
    border: #cccccc solid 0px !important;
    border-top: none !important;
    min-height: 300px !important;
    border-top: 0px solid #cccccc !important;
    background-color: #fbfbfb !important;
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3) !important;
    padding: 16px 12px !important;
    position: relative !important;
}

.ajax__scroll_none {
    overflow: inherit !important;
}

.ajax__tab_xp .ajax__tab_inner {
    background: none !important;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_hover, .ajax__tab_xp .ajax__tab_header .ajax__tab_hover .ajax_tab_outer {
    background: none !important;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_active {
    position: relative;
    z-index: 5;
}

    .ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_tab {
        outline: none !important;
    }

.ajax__tab_xp .ajax__tab_header .ajax__tab_outer {
    border-bottom: #cccccc solid 0px;
    position: relative;
    z-index: 1;
    background: none !important;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_tab {
    background: none !important;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_outer {
    border-bottom: none;
    background: #fff !important;
    border-top: 2px solid #2dc3e8 !important;
}

.ajax__tab_panel .messesgarea, .ajax__tab_panel {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_outer {
    height: 36px !important;
    padding-right: 4px;
    padding-top: 3px;
}

.ajax__tab_xp .ajax__tab_header {
    height: 35px !important;
    background-color: #eee;
    border: 0 none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    margin-left: 0;
    top: 2px;
}
