.header-navbar,.pcoded-inner-navbar,.footer,.printorder{display: none;}
.navbar-logo{display: none !important;}
.navbar-container{display: none;}
.pcoded[theme-layout="vertical"][vertical-placement="left"][vertical-nav-type="expanded"][vertical-effect="shrink"] .pcoded-content
{margin-left: 0px;}
.pcoded-main-containe{margin-top: 0px;}
.modal-content,.modal-header{padding: 0px;border:0px;margin-bottom: 10px;}
.small-header{display: none;}
@page {
    margin: 2cm 0cm;
    padding: 0cm;
 }