.loginback {   
     background:  #a1ceff url("../images/login_background.jpg") no-repeat center center fixed;
      background-size: cover; 
     
}
.login-card {
    border-radius: 30px; position: relative; display: block; margin: 15px auto;}
    .dashboardlogin{display: flex; flex-direction: column; height:90vh; justify-content: center; align-items: center;}

    .input-group-append .input-group-text, .input-group-prepend .input-group-text {
        background-color: #448aff;
        border-color: rgba(0,0,0,.15);
        color: #fff;
    }
    .input-group-text {
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
    .input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .input-group-prepend label{padding:10px;}
    .forgotpassbox{display: flex;}