﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="StockRevert.aspx.cs" Culture="en-GB"
    Inherits="admin_adminfiles_ReportsV2_StockRevert" MasterPageFile="~/admin/templates/MasterPageAdmin.master" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <style>
        .modal-dialog1 {
            margin-left: -300px;
            margin-right: -300px;
            width: 985px;
        }

        .focusred {
            border-color: #FF5F5F !important;
        }

        .height100 {
            height: 100px;
        }

        .table tbody .brd_ornge td {
            border-bottom: 4px solid #ff784f;
        }
    </style>
    <%--   <script src="~/admin/vendor/jquery/dist/jquery.min.js"></script>--%>

    <style>
        .btn_right {
            float: right;
        }

            .btn_right li {
                float: left;
                padding-left: 15px;
                font-size: 12px;
                font-weight: 400;
            }

                .btn_right li div {
                    max-width: 140px;
                    line-height: 15px;
                }

        .font_Custom {
            font-size: 15px;
        }

        .padd_btm10 {
            padding-bottom: 15px;
        }
    </style>

    <script type="text/javascript">

    function doMyAction() {

           <%-- $('#<%=btnAdd.ClientID %>').click(function (e) {
                        formValidate();
                    });

                    $('#<%=btnUpdate.ClientID %>').click(function (e) {
                formValidate();
            });--%>
    }

    function ShowProgress() {
        setTimeout(function () {
            //alert("check");
            if (Page_IsValid) {
                //alert("true");
                $('.modal_popup').css('z-index', '901');
                //this is because when popup is open, and loader is called background color becomes dark.
                //alert("hide");
                document.getElementById('loader_div').style.visibility = "visible";
            }
            else {
                //alert("false");
            }
        }, 200);
    }
    $(function () {
                <%--    $('form').on("click",'#<%=btnOK3.ClientID %>', function () {
                        ShowProgress();
                    });
                     $('form').on("click",'#<%=lnkdelete.ClientID %>', function () {
                        ShowProgress();
                    }); --%>
            $('form').on("click", '.POPupLoader', function () {
            ///$('form').on("click", '#<%=lbtnExport.ClientID %>', function () {
                ShowProgress();
            });
        });

    var prm = Sys.WebForms.PageRequestManager.getInstance();

    prm.add_pageLoaded(pageLoaded);
    //raised before processing of an asynchronous postback starts and the postback request is sent to the server.
    prm.add_beginRequest(beginrequesthandler);
    // raised after an asynchronous postback is finished and control has been returned to the browser.
    prm.add_endRequest(endrequesthandler);

    function beginrequesthandler(sender, args) {
        //shows the modal popup - the update progress
        //alert("1");
        document.getElementById('loader_div').style.visibility = "visible";

    }
    function endrequesthandler(sender, args) {
        //hide the modal popup - the update progress
        //alert("dgfdg2");


        $(".Location .dropdown dt a").on('click', function () {
            $(".Location .dropdown dd ul").slideToggle('fast');
        });
        $(".Location .dropdown dd ul li a").on('click', function () {
            $(".Location .dropdown dd ul").hide();
        });

        //callMultiCheckbox();

        $(document).bind('click', function (e) {
            var $clicked = $(e.target);
            if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
        });

        $('.sandbox-container input').datepicker({
            autoclose: true,
            todayHighlight: true
        });
    }
    function pageLoaded() {
        //alert($(".search-select").attr("class"));
        //alert("dgfdg3");

        document.getElementById('loader_div').style.visibility = "hidden";
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        $("[data-toggle=tooltip]").tooltip();
        //alert($(".search-select").attr("class"));

        $(".myval").select2({
            // placeholder: "select",
            allowclear: true
        });
        $(".myvalinvoiceissued").select2({
            minimumResultsForSearch: -1
        });
        if ($(".tooltips").length) {
            $('.tooltips').tooltip();
        }
        //gridviewScroll();

    }

    function stopRKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
    }
    document.onkeypress = stopRKey;

    function divexpandcollapse(divname, trname) {
        var div = document.getElementById(divname);
        var img = document.getElementById('img' + divname);
        var tr = document.getElementById(trname);

        if (div.style.display == "none") {
            div.style.display = "inline";
            tr.style.display = "";
            img.src = "../../../images/icon_minus.png";
        } else {
            div.style.display = "none";
            tr.style.display = "none";
            img.src = "../../../images/icon_plus.png";
        }
    }

    </script>


    <script type="text/javascript">
    $(function () {
        $("[id*=GridView1] td").bind("click", function () {
            var row = $(this).parent();
            $("[id*=GridView1] tr").each(function () {
                if ($(this)[0] != row[0]) {
                    $("td", this).removeClass("selected_row");
                }
            });
            $("td", row).each(function () {
                if (!$(this).hasClass("selected_row")) {
                    $(this).addClass("selected_row");
                } else {
                    $(this).removeClass("selected_row");
                }
            });
        });
    });
    </script>


    <script>

    $(document).ready(function () {

    });
    function formValidate() {
        if (typeof (Page_Validators) != "undefined") {
            for (var i = 0; i < Page_Validators.length; i++) {
                // alert("2");
                if (!Page_Validators[i].isvalid) {
                    $('#' + Page_Validators[i].controltovalidate).css("border-color", "#FF5F5F");
                }
                else {
                    $('#' + Page_Validators[i].controltovalidate).css("border-color", "#B5B5B5");
                }
            }
        }
    }

    </script>

    <asp:UpdatePanel ID="updatepanelgrid" runat="server">
        <ContentTemplate>
            <div class="page-header card">
                <div class="card-block">
                    <h5>Stock Revert
                        <div class="pull-right">
                        </div>
                    </h5>
                </div>
            </div>
            <div class="page-body padtopzero">
                <asp:Panel runat="server" ID="Panel4">
                    <div class="searchfinal">
                        <div class="card shadownone brdrgray pad10">
                            <div class="card-block">
                                <asp:Panel ID="PanSerach" runat="server" DefaultButton="btnSearch">
                                    <div class="inlineblock martop5">
                                        <div class="row">
                                            <div class="input-group col-sm-2 martop5 max_width170">
                                                <asp:DropDownList ID="ddlCompany" runat="server" AppendDataBoundItems="true" aria-controls="DataTables_Table_0" class="myval"
                                                    AutoPostBack="true" OnSelectedIndexChanged="ddlCompany_SelectedIndexChanged">
                                                    <asp:ListItem Value="0">All</asp:ListItem>
                                                    <asp:ListItem Value="1">Arise Solar</asp:ListItem>
                                                    <asp:ListItem Value="2">Solar Miner</asp:ListItem>
                                                    <asp:ListItem Value="3">Wholesale</asp:ListItem>
                                                </asp:DropDownList>
                                            </div>

                                            <div class="input-group col-sm-2 martop5 max_width170">
                                                <asp:DropDownList ID="ddlCategory" runat="server" AppendDataBoundItems="true" aria-controls="DataTables_Table_0" class="myval">
                                                    <asp:ListItem Value="">Category</asp:ListItem>
                                                </asp:DropDownList>
                                            </div>

                                            <div class="input-group col-sm-2 martop5 max_width170">
                                                <asp:TextBox ID="txtProjectNumber" placeholder="ProjectNo/PickID" runat="server" CssClass="form-control m-b"></asp:TextBox>
                                                <cc1:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender3" runat="server" TargetControlID="txtProjectNumber"
                                                    WatermarkText="ProjectNo/PickID" />
                                                <cc1:FilteredTextBoxExtender ID="FilteredTextBoxExtender1" runat="server" TargetControlID="txtProjectNumber" FilterType="Numbers, Custom"
                                                    ValidChars="," />
                                            </div>

                                            <div class="input-group col-sm-2 martop5 max_width170">
                                                <asp:TextBox ID="txtStockItem" placeholder="Stock Item" runat="server" CssClass="form-control m-b"></asp:TextBox>
                                                <cc1:TextBoxWatermarkExtender ID="TextBoxWatermarkExtender1" runat="server" TargetControlID="txtStockItem"
                                                    WatermarkText="Stock Item" />
                                            </div>

                                            <div class="input-group col-sm-2 martop5 max_width170">
                                                <asp:DropDownList ID="ddlProjectStatus" runat="server" AppendDataBoundItems="true" aria-controls="DataTables_Table_0" class="myval">
                                                    <asp:ListItem Value="">Project Status</asp:ListItem>
                                                </asp:DropDownList>
                                            </div>

                                            <div class="input-group col-sm-2 martop5 max_width170">
                                                <asp:DropDownList ID="ddlLocation" runat="server" AppendDataBoundItems="true" aria-controls="DataTables_Table_0" class="myval">
                                                    <asp:ListItem Value="">Location</asp:ListItem>
                                                </asp:DropDownList>
                                            </div>

                                            <div class="input-group col-sm-2 martop5 max_width170" id="divEmployee" runat="server">
                                                <asp:DropDownList ID="ddlEmployee" runat="server" AppendDataBoundItems="true" aria-controls="DataTables_Table_0" class="myval">
                                                    <asp:ListItem Value="">Employee</asp:ListItem>
                                                </asp:DropDownList>
                                            </div>

                                            <div class="input-group col-sm-2 martop5 max_width170">
                                                <asp:DropDownList ID="ddlInstaller" runat="server" AppendDataBoundItems="true" aria-controls="DataTables_Table_0" class="myval">
                                                    <asp:ListItem Value="">Installer</asp:ListItem>
                                                </asp:DropDownList>
                                            </div>



                                            <%--<div class="input-group col-sm-2 martop5 max_width170">
                                                <asp:DropDownList ID="ddlDate" runat="server" AppendDataBoundItems="true" aria-controls="DataTables_Table_0" class="myval">
                                                    <asp:ListItem Value="">Date</asp:ListItem>
                                                    <asp:ListItem Value="1">Deducted Date</asp:ListItem>
                                                    <asp:ListItem Value="2">InstallBookingDate</asp:ListItem>
                                                </asp:DropDownList>
                                            </div>--%>
                                            <div class="date datetimepicker1 col-sm-2 martop5 custom_datepicker max_width170">
                                                <div class="input-group sandbox-container">
                                                    <asp:TextBox ID="txtStartDate" placeholder="Start Date" runat="server" class="form-control"></asp:TextBox>
                                                    <div class="input-group-addon">
                                                        <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="date datetimepicker1 col-sm-2 martop5 custom_datepicker max_width170">
                                                <div class="input-group sandbox-container">
                                                    <asp:TextBox ID="txtEndDate" placeholder="End Date" runat="server" class="form-control"></asp:TextBox>
                                                    <div class="input-group-addon">
                                                        <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="input-group martop5 col-sm-1 max_width170">
                                                <asp:LinkButton ID="btnSearch" runat="server" Text="Search" ValidationGroup="search" CssClass="btn btn-info btnsearchicon fullWidth"
                                                    CausesValidation="false" OnClick="btnSearch_Click"></asp:LinkButton>
                                                <%--<asp:Button ID="btnSearch" runat="server" CssClass="btn btn-primary" Text="Go" OnClick="btnSearch_Click" />--%>
                                            </div>
                                            <div class="input-group martop5 col-sm-1 max_width170">
                                                <asp:LinkButton ID="btnClearAll" runat="server" data-placement="left"
                                                    CausesValidation="false" OnClick="btnClearAll_Click1" CssClass="btn btn-primary btnclear fullWidth"><i class="fa-refresh fa"></i>Clear </asp:LinkButton>
                                            </div>
                                        </div>
                                    </div>

                                </asp:Panel>

                                <div class="datashowbox inlineblock">
                                    <div class="row">

                                        <div class="input-group col-sm-2 martop5 max_width170">
                                            <asp:DropDownList ID="ddlSelectRecords" Style="width: 170px!important;" runat="server" AppendDataBoundItems="true" AutoPostBack="true" OnSelectedIndexChanged="ddlSelectRecords_SelectedIndexChanged"
                                                aria-controls="DataTables_Table_0" class="myval">
                                                <asp:ListItem Value="25">Show entries</asp:ListItem>
                                            </asp:DropDownList>
                                        </div>

                                        <div class="input-group martop5" style="width: 110px; padding: 0 5px; display:none">
                                            <asp:LinkButton ID="lbtnExport" runat="server" data-toggle="tooltip" data-placement="left" title="" data-original-title="Excel Export" class="btn btn-success btn-xs Excel fullWidth"
                                                CausesValidation="false" OnClick="lbtnExport1_Click" Style="background-color: #218838; border-color: #218838"><i class="fa fa-file-excel-o"></i> Excel </asp:LinkButton>
                                        </div>
                                        <div class="input-group martop5" style="width: 150px; padding: 0 5px;">
                                            <asp:LinkButton ID="lbtnExportV2" runat="server" data-toggle="tooltip" data-placement="left" title="" data-original-title="Excel Export" class="btn btn-success btn-xs Excel fullWidth"
                                                CausesValidation="false" OnClick="lbtnExportV2_Click" Style="background-color: #218838; border-color: #218838"><i class="fa fa-file-excel-o"></i> ExcelV2 </asp:LinkButton>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </asp:Panel>
            </div>

            <div class="finalgrid">
                <asp:Panel ID="panel" runat="server">
                    <div class="page-header card" id="divtot" runat="server">
                        <div class="card-block brd_ornge">
                            <div class="printorder" style="font-size: medium">
                                <b>Total Qty:&nbsp;</b><asp:Literal ID="lblQty" runat="server"></asp:Literal>
                                <b>Item Qty:&nbsp;</b><asp:Literal ID="lblItemQty" runat="server"></asp:Literal>
                            </div>
                        </div>
                    </div>
                </asp:Panel>
                <asp:Panel ID="panel1" runat="server" CssClass="xsroll">
                    <cc1:TabContainer runat="server" ID="TabGrid" ActiveTabIndex="0">
                        <cc1:TabPanel runat="server" HeaderText="Item">
                            <ContentTemplate>
                                <div>
                                    <div id="PanGrid1" runat="server">
                                        <div class="card shadownone brdrgray">
                                            <div class="card-block">
                                                <div class="table-responsive BlockStructure">
                                                    <asp:GridView ID="GridView2" runat="server" CssClass="tooltip-demo table table-bordered nowrap dataTable"
                                                        OnSorting="GridView2_Sorting" OnPageIndexChanging="GridView2_PageIndexChanging" OnRowCommand="GridView2_RowCommand" OnRowDataBound="GridView2_RowDataBound"
                                                        AllowSorting="True" OnRowCreated="GridView2_RowCreated" AutoGenerateColumns="False" AllowPaging="True" PageSize="25">
                                                        <Columns>
                                                            <asp:TemplateField HeaderText="InstallerName" SortExpression="InstallerName">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblInstallerName" runat="server" Text='<%#Eval("InstallerName") %>'>
                                                                    </asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Center" />
                                                                <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField HeaderText="Category" SortExpression="StockCategory">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblStockCategory" runat="server" Text='<%#Eval("StockCategory")%>'>
                                                                    </asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Center" />
                                                                <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField HeaderText="Stock Item" SortExpression="StockItem">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblStockItem" runat="server" Text='<%#Eval("StockItem") %>'>
                                                                    </asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Center" />
                                                                <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField HeaderText="Stock Model" SortExpression="StockModel">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblStockModel" runat="server" Text='<%#Eval("StockModel") %>'>
                                                                    </asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Center" />
                                                                <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField HeaderText="Qty" SortExpression="Qty">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblgvQty" runat="server" Text='<%#Eval("Qty")%>'>
                                                                    </asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Center" />
                                                                <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField HeaderText="Revert Location" SortExpression="CompanyLocation">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblCompanyLocation" runat="server" Text='<%#Eval("CompanyLocation")%>'></asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Left" />
                                                                <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField HeaderText="Revert By" SortExpression="RevertBy">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblRevertBy" runat="server" Text='<%#Eval("RevertBy")%>'></asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Left" />
                                                                <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField HeaderText="Revert On" SortExpression="RevertOn">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblRevertOn" runat="server" Text='<%#Eval("RevertOn")%>'></asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Center" />
                                                                <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" />
                                                            </asp:TemplateField>
                                                            
                                                           
                                                        </Columns>
                                                        <PagerTemplate>
                                                            <asp:Label ID="ltrPage" runat="server" CssClass="pageshowing" Style="float: left;"></asp:Label>
                                                            <div class="pagination">
                                                                <asp:LinkButton ID="LinkButton1" runat="server" CommandName="Page" CausesValidation="false" CommandArgument="First" CssClass="Linkbutton firstpage nextbtn"><i class="fa fa-angle-double-left" aria-hidden="true"></i></asp:LinkButton>
                                                                <asp:LinkButton ID="LinkButton2" runat="server" CommandName="Page" CausesValidation="false" CommandArgument="Prev" CssClass="Linkbutton prebtn"><i class="fa fa-caret-left" aria-hidden="true"></i></asp:LinkButton>
                                                                <asp:LinkButton ID="p0" runat="server" CssClass="Linkbutton" CausesValidation="false">LinkButton</asp:LinkButton>
                                                                <asp:LinkButton ID="p1" runat="server" CssClass="Linkbutton" CausesValidation="false">LinkButton</asp:LinkButton>
                                                                <asp:LinkButton ID="p2" runat="server" CssClass="Linkbutton" CausesValidation="false">LinkButton</asp:LinkButton>
                                                                <asp:Label ID="CurrentPage" runat="server" Text="Label" Style="min-width: 25px; display: inline-block;"></asp:Label>
                                                                <asp:LinkButton ID="p4" runat="server" CssClass="Linkbutton" CausesValidation="false">LinkButton</asp:LinkButton>
                                                                <asp:LinkButton ID="p5" runat="server" CssClass="Linkbutton" CausesValidation="false">LinkButton</asp:LinkButton>
                                                                <asp:LinkButton ID="p6" runat="server" CssClass="Linkbutton" CausesValidation="false">LinkButton</asp:LinkButton>
                                                                <asp:LinkButton ID="LinkButton3" runat="server" CommandName="Page" CausesValidation="false" CommandArgument="Next" CssClass="Linkbutton nextbtn"><i class="fa fa-caret-right" aria-hidden="true"></i></asp:LinkButton>
                                                                <asp:LinkButton ID="LinkButton4" runat="server" CommandName="Page" CausesValidation="false" CommandArgument="Last" CssClass="Linkbutton lastpage nextbtn"><i class="fa fa-angle-double-right" aria-hidden="true"></i></asp:LinkButton>
                                                            </div>
                                                        </PagerTemplate>
                                                        <PagerStyle CssClass="paginationGrid" />
                                                        <PagerSettings Mode="NumericFirstLast" FirstPageText="FIRST" LastPageText="LAST" PageButtonCount="4" />
                                                    </asp:GridView>

                                                </div>
                                                <div class="paginationnew1" runat="server" id="divnopage1">
                                                    <table class="table table-bordered table-hover RemoveTopBorder" cellspacing="0" cellpadding="0" rules="all" border="0" id="tablepage" style="width: 100%; border-collapse: collapse;">
                                                        <tr>
                                                            <td>
                                                                <asp:Label ID="ltrPage1" runat="server" CssClass="pageshowing" Style="float: left;"></asp:Label>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </cc1:TabPanel>
                        <cc1:TabPanel runat="server" HeaderText="Project">
                            <ContentTemplate>
                                <div>
                                    <div id="PanGrid" runat="server">
                                        <div class="card shadownone brdrgray">
                                            <div class="card-block">
                                                <div class="table-responsive BlockStructure">
                                                    <asp:GridView ID="GridView1" DataKeyNames="ID" runat="server" CssClass="tooltip-demo table table-bordered nowrap dataTable"
                                                        OnSorting="GridView1_Sorting" OnPageIndexChanging="GridView1_PageIndexChanging" OnRowCommand="GridView1_RowCommand" OnRowDataBound="GridView1_RowDataBound"
                                                        AllowSorting="True" OnRowCreated="GridView1_RowCreated" AutoGenerateColumns="False" AllowPaging="True" PageSize="25">
                                                        <Columns>
                                                            <asp:TemplateField SortExpression="ProjectNumber">
                                                                <HeaderTemplate>
                                                                    <asp:Label ID="lbHeaderNo" runat="server">
                                                                    </asp:Label>
                                                                </HeaderTemplate>
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblProjectNo" runat="server" Text='<%#Eval("ProjectNumber") + "/" + Eval("ID")%>'>
                                                                    </asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Center" />
                                                                <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField SortExpression="Project">
                                                                <HeaderTemplate>
                                                                    <asp:Label ID="lbHeaderProject" runat="server">
                                                                    </asp:Label>
                                                                </HeaderTemplate>
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblProject" runat="server" Text='<%#Eval("Project")%>'>
                                                                    </asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="left" />
                                                                <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField SortExpression="ProjectStatus">
                                                                <HeaderTemplate>
                                                                    <asp:Label ID="lblHeaderStatus" runat="server">
                                                                    </asp:Label>
                                                                </HeaderTemplate>
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblProjectStatus" runat="server" Text='<%#Eval("ProjectStatus")%>'>
                                                                    </asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Left" />
                                                                <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField SortExpression="InstallerName">
                                                                <HeaderTemplate>
                                                                    <asp:Label ID="lblHeaderInstaller" runat="server">
                                                                    </asp:Label>
                                                                </HeaderTemplate>
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblInstaller" runat="server" Text='<%#Eval("InstallerName")%>'>
                                                                    </asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Left" />
                                                                <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField HeaderText="Store Name" SortExpression="CompanyLocation">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblCompanyLocation" runat="server" Text='<%#Eval("CompanyLocation")%>'>
                                                                    </asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Center" />
                                                                <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField HeaderText="Qty" SortExpression="Qty">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblPanels" runat="server" Text='<%#Eval("Qty")%>'>
                                                                    </asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Center" />
                                                                <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField HeaderText="Revert On" SortExpression="RevertOn">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblRevertOn" runat="server" Text='<%#Eval("RevertOn")%>'></asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Center" />
                                                                <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" />
                                                            </asp:TemplateField>

                                                            <asp:TemplateField HeaderText="Revert By" SortExpression="RevertBy">
                                                                <ItemTemplate>
                                                                    <asp:Label ID="lblRevertBy" runat="server" Text='<%#Eval("RevertBy")%>'></asp:Label>
                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Left" />
                                                                <ItemStyle HorizontalAlign="Left" VerticalAlign="Top" />
                                                            </asp:TemplateField>
                                                            
                                                            <asp:TemplateField HeaderText="Revert By" SortExpression="RevertBy">
                                                                <ItemTemplate>
                                                                    <asp:LinkButton ID="gvbtnWClaim" runat="server" CssClass="btn btn-danger btn-mini" CausesValidation="false" CommandName="WClaim"
                                                                         Visible='<%# (Roles.IsUserInRole("Administrator") || Roles.IsUserInRole("Wholesale")) && Eval("ClaimFlag").ToString() == "0" ? true : false%>'
                                                                        CommandArgument='<%# Eval("ProjectNumber") + ";" + Eval("ID") %>' >
                                                                        W.Claim
                                                                    </asp:LinkButton>

                                                                    <asp:LinkButton ID="gvlbtn" runat="server" CssClass="btn btn-inverse btn-mini" CausesValidation="false" CommandName="WClaimRevert"
                                                                         Visible='<%# Roles.IsUserInRole("Administrator") && Eval("ClaimFlag").ToString() == "1" ? true : false%>'
                                                                        CommandArgument='<%# Eval("ProjectNumber") + ";" + Eval("ID") %>' >
                                                                        <i class="fa fa-retweet"></i> Revert
                                                                    </asp:LinkButton>

                                                                </ItemTemplate>
                                                                <HeaderStyle CssClass="brdrgrayleft" HorizontalAlign="Center" />
                                                                <ItemStyle HorizontalAlign="Center" VerticalAlign="Top" />
                                                            </asp:TemplateField>



                                                        </Columns>
                                                        <PagerTemplate>
                                                            <asp:Label ID="ltrPage" runat="server" CssClass="pageshowing" Style="float: left;"></asp:Label>
                                                            <div class="pagination">
                                                                <asp:LinkButton ID="LinkButton1" runat="server" CommandName="Page" CausesValidation="false" CommandArgument="First" CssClass="Linkbutton firstpage nextbtn"><i class="fa fa-angle-double-left" aria-hidden="true"></i></asp:LinkButton>
                                                                <asp:LinkButton ID="LinkButton2" runat="server" CommandName="Page" CausesValidation="false" CommandArgument="Prev" CssClass="Linkbutton prebtn"><i class="fa fa-caret-left" aria-hidden="true"></i></asp:LinkButton>
                                                                <asp:LinkButton ID="p0" runat="server" CssClass="Linkbutton" CausesValidation="false">LinkButton</asp:LinkButton>
                                                                <asp:LinkButton ID="p1" runat="server" CssClass="Linkbutton" CausesValidation="false">LinkButton</asp:LinkButton>
                                                                <asp:LinkButton ID="p2" runat="server" CssClass="Linkbutton" CausesValidation="false">LinkButton</asp:LinkButton>
                                                                <asp:Label ID="CurrentPage" runat="server" Text="Label" Style="min-width: 25px; display: inline-block;"></asp:Label>
                                                                <asp:LinkButton ID="p4" runat="server" CssClass="Linkbutton" CausesValidation="false">LinkButton</asp:LinkButton>
                                                                <asp:LinkButton ID="p5" runat="server" CssClass="Linkbutton" CausesValidation="false">LinkButton</asp:LinkButton>
                                                                <asp:LinkButton ID="p6" runat="server" CssClass="Linkbutton" CausesValidation="false">LinkButton</asp:LinkButton>
                                                                <asp:LinkButton ID="LinkButton3" runat="server" CommandName="Page" CausesValidation="false" CommandArgument="Next" CssClass="Linkbutton nextbtn"><i class="fa fa-caret-right" aria-hidden="true"></i></asp:LinkButton>
                                                                <asp:LinkButton ID="LinkButton4" runat="server" CommandName="Page" CausesValidation="false" CommandArgument="Last" CssClass="Linkbutton lastpage nextbtn"><i class="fa fa-angle-double-right" aria-hidden="true"></i></asp:LinkButton>
                                                            </div>
                                                        </PagerTemplate>
                                                        <PagerStyle CssClass="paginationGrid" />
                                                        <PagerSettings Mode="NumericFirstLast" FirstPageText="FIRST" LastPageText="LAST" PageButtonCount="4" />
                                                    </asp:GridView>

                                                </div>
                                                <div class="paginationnew1" runat="server" id="divnopage">
                                                    <table class="table table-bordered table-hover RemoveTopBorder" cellspacing="0" cellpadding="0" rules="all" border="0" id="tablepage" style="width: 100%; border-collapse: collapse;">
                                                        <tr>
                                                            <td>
                                                                <asp:Label ID="ltrPage" runat="server" CssClass="pageshowing" Style="float: left;"></asp:Label>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </cc1:TabPanel>
                    </cc1:TabContainer>

                </asp:Panel>
            </div>
        </ContentTemplate>
        <Triggers>
            <asp:PostBackTrigger ControlID="lbtnExport" />
            <asp:PostBackTrigger ControlID="lbtnExportV2" />
        </Triggers>
    </asp:UpdatePanel>
    <script type="text/javascript">

    $(".dropdown dt a").on('click', function () {
        $(".dropdown dd ul").slideToggle('fast');

    });

    $(".dropdown dd ul li a").on('click', function () {
        $(".dropdown dd ul").hide();
    });
    $(document).bind('click', function (e) {
        var $clicked = $(e.target);
        if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
    });


    $(document).ready(function () {
        HighlightControlToValidate();

        $('.mutliSelect input[type="checkbox"]').on('click', function () {
            callMultiCheckbox();
        });
    });

    function callMultiCheckbox() {


    }


    function formValidate() {
        if (typeof (Page_Validators) != "undefined") {
            for (var i = 0; i < Page_Validators.length; i++) {
                alert("2");
                if (!Page_Validators[i].isvalid) {
                    $('#' + Page_Validators[i].controltovalidate).css("border-color", "#FF5F5F");
                }
                else {
                    $('#' + Page_Validators[i].controltovalidate).css("border-color", "#B5B5B5");
                }
            }
        }
    }
    function HighlightControlToValidate() {
        if (typeof (Page_Validators) != "undefined") {
            for (var i = 0; i < Page_Validators.length; i++) {
                $('#' + Page_Validators[i].controltovalidate).blur(function () {
                    var validatorctrl = getValidatorUsingControl($(this).attr("ID"));
                    if (validatorctrl != null && !validatorctrl.isvalid) {
                        $(this).css("border-color", "#FF5F5F");
                    }
                    else {
                        $(this).css("border-color", "#B5B5B5");
                    }
                });
            }
        }
    }
    function getValidatorUsingControl(controltovalidate) {
        var length = Page_Validators.length;
        for (var j = 0; j < length; j++) {
            if (Page_Validators[j].controltovalidate == controltovalidate) {
                return Page_Validators[j];
            }
        }
        return null;
    }
    </script>
    <script type="text/javascript">
    $(document).ready(function () {

        //gridviewScroll();
    });
    $("#nav").on("click", "a", function () {
        $('#content').animate({ opacity: 0 }, 500, function () {
            //gridviewScroll();
            $('#content').delay(250).animate({ opacity: 1 }, 500);
        });
    });
    function gridviewScroll() {

    }
    </script>

</asp:Content>
