html
{
    background-color: #f2f4f8!important;
}

.bg-white
{
    background-color: #ffffff!important;
    color: #788288;
}

.marbtm20
{
    margin-bottom: 20px;
}

.tab_white
{
    background: #fff!important;
    border-top: #dddddd solid 1px;
}

.marginleftright15
{
    margin-left: 15px;
    margin-right: 15px;
}

.tab-content
{
    border: #dddddd solid 1px!important;
}

.red
{
    color: #ff0000;
}

#nav
{ /*position:relative; z-index:2;*/
}

.datahidden
{
    overflow: hidden;
}

.box-shadow
{
    box-shadow: 0 4px 4px #C6CDD5, 0 1px 0 #C6CDD5!important; /* position:relative; z-index:1!important;*/
}

.navbar-nav > li > .dropdown-menu li:first-child
{
    background: url(../images/top_arrow.png) center -10px no-repeat;
}

.header .form-control
{
    background: none;
}

.b-white
{
    border: none!important;
    border-right: #000000 solid 1px!important;
    border-radius: 0px!important;
}

.header .btn-sm, .header .btn-group-sm > .btn
{
    padding-top: 1px!important;
    padding-bottom: 1px!important;
}

.bg-black
{
    /* background: #2d353c!important;*/
    position: relative;
    z-index: 999999;
}

.aside-md .nav
{
    background: #12131a!important;
    font-size: 13px;
    padding: 12px 0px 15px 0px; /*border-bottom:#374047 solid 1px;*/
}

.bg-black .nav > li > a
{
    color: #8287a9!important;
    font-weight: bold;
    cursor: pointer;
}

.nav-primary ul.nav > li > a i.dashboard
{
    background: url('../images/icon_dashboard.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.dashboard, .nav-primary ul.nav > li:focus > a i.dashboard, .nav-primary ul.nav > li.active > a i.dashboard
{
    background: url('../images/icon_dashboard2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.master
{
    background: url('../images/icon_master.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.master, .nav-primary ul.nav > li:focus > a i.master, .nav-primary ul.nav > li.active > a i.master
{
    background: url('../images/icon_master2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.company
{
    background: url('../images/icon_company.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.company, .nav-primary ul.nav > li:focus > a i.company, .nav-primary ul.nav > li.active > a i.company
{
    background: url('../images/icon_company2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.contact
{
    background: url('../images/icon_contacts.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.contact, .nav-primary ul.nav > li:focus > a i.contact, .nav-primary ul.nav > li.active > a i.contact
{
    background: url('../images/icon_contacts2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.spromo
{
    background: url('../images/icon_smspromo.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.spromo, .nav-primary ul.nav > li:focus > a i.spromo, .nav-primary ul.nav > li.active > a i.spromo
{
    background: url('../images/icon_smspromo2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.tracker
{
    background: url('../images/icon_tracker.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.tracker, .nav-primary ul.nav > li:focus > a i.tracker, .nav-primary ul.nav > li.active > a i.tracker
{
    background: url('../images/icon_tracker2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.projects1
{
    background: url('../images/icon_project.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.projects1, .nav-primary ul.nav > li:focus > a i.projects1, .nav-primary ul.nav > li.active > a i.projects1
{
    background: url('../images/icon_project2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.installation
{
    background: url('../images/icon_installation.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.installation, .nav-primary ul.nav > li:focus > a i.installation, .nav-primary ul.nav > li.active > a i.installation
{
    background: url('../images/icon_installation2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.invoiceissue
{
    background: url('../images/icon_invoiceissue.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.invoiceissue, .nav-primary ul.nav > li:focus > a i.invoiceissue, .nav-primary ul.nav > li.active > a i.invoiceissue
{
    background: url('../images/icon_invoiceissue2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.invoicepaid
{
    background: url('../images/icon_invoicepaid.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.invoicepaid, .nav-primary ul.nav > li:focus > a i.invoicepaid, .nav-primary ul.nav > li.active > a i.invoicepaid
{
    background: url('../images/icon_invoicepaid2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.stock
{
    background: url('../images/icon_stock.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.stock, .nav-primary ul.nav > li:focus > a i.stock, .nav-primary ul.nav > li.active > a i.stock
{
    background: url('../images/icon_stock2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.leadtracker
{
    background: url('../images/icon_leadtracker.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.leadtracker, .nav-primary ul.nav > li:focus > a i.leadtracker, .nav-primary ul.nav > li.active > a i.leadtracker
{
    background: url('../images/icon_leadtracker2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.mcte
{
    background: url('../images/icon_mcte.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.mcte, .nav-primary ul.nav > li:focus > a i.mcte, .nav-primary ul.nav > li.active > a i.mcte
{
    background: url('../images/icon_mcte2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.report
{
    background: url('../images/icon_report.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.report, .nav-primary ul.nav > li:focus > a i.report, .nav-primary ul.nav > li.active > a i.report
{
    background: url('../images/icon_report2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.team
{
    background: url('../images/icon_team.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.team, .nav-primary ul.nav > li:focus > a i.team, .nav-primary ul.nav > li.active > a i.team
{
    background: url('../images/icon_team2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.installation1
{
    background: url('../images/icon_installation.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.installation1, .nav-primary ul.installation1 > li:focus > a i.installation1, .nav-primary ul.nav > li.active > a i.installation1
{
    background: url('../images/icon_installation2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.unavailabili
{
    background: url('../images/unavailabilitylist.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.unavailabili, .nav-primary ul.installation1 > li:focus > a i.unavailabili, .nav-primary ul.nav > li.active > a i.unavailabili
{
    background: url('../images/unavailabilitylist2.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li > a i.folloup
{
    background: url('../images/icon_folloup.png') no-repeat center center;
    height: 36px;
}

.nav-primary ul.nav > li:hover > a i.folloup, .nav-primary ul.installation1 > li:focus > a i.folloup, .nav-primary ul.nav > li.active > a i.folloup
{
    background: url('../images/icon_folloup2.png') no-repeat center center;
    height: 36px;
}





.bg-black .nav > li:hover > a, .bg-black .nav > li:focus > a, .bg-black .nav > li:active > a, .bg-black .nav > li.active > a
{
    color: #fff!important;
}

.line
{
    margin: 1px 0px!important;
}

.i.spctext
{
    position: relative;
    color: #ffffff;
}

    .i.spctext span
    {
        margin-top: -2px;
        line-height: 20px;
        position: absolute;
        left: 18px;
        top: 0px;
        padding: 0px;
    }

.i-circleright span
{
    margin-top: -9px;
    position: absolute;
    left: 0;
    width: 68px;
}

.i.spctext span, .i-circleright span
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
}

.i-circleright
{
    color: #ffffff;
    position: relative;
    margin-left: -15px;
}

.footerbg
{
    background: #12131a;
    text-align: left; /* margin-top:-50px;*/
}

    .footerbg .text-active
    {
        width: 17px;
    }

        .footerbg .text-active span
        {
            display: inline!important;
            color: #ffffff;
            font-size: 12px;
        }

.vbox > footer
{
    text-align: center;
    font-size: 11px;
    color: #777777;
}

    .vbox > footer span
    {
        display: block;
        padding: 10px 0px;
    }

        .vbox > footer span a
        {
            color: #777777;
        }

.panlenew
{
}

    .panlenew .panel
    {
        border: none;
        border-radius: 5px;
        box-shadow: 0 1px 6px #ccd3da;
    }

    .panlenew .panel-heading
    {
        background: #202931;
        border-radius: 6px 6px 0 0;
        padding: 8px 15px 16px 15px;
    }

        .panlenew .panel-heading a
        {
            color: #ffffff;
        }

        .panlenew .panel-heading .btn-sm, .panlenew .panel-heading .btn-group-sm > .btn
        {
            line-height: 1.0;
        }

        .panlenew .panel-heading .btn-default
        {
            color: #000000!important;
        }

        .panlenew .panel-heading .dropdown-menu > li > a
        {
            color: #333333;
        }

    .panlenew .panel .table
    {
        margin-bottom: 0px!important;
    }

.marginleft3
{
    margin-left: 3px!important;
}

.bg-red
{
    background-color: #ff5f5f!important;
    color: #fffefc;
}

.taskli
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    .taskli li
    {
        display: block!important;
        padding: 5px 10px;
        margin-bottom: 1px;
    }

        .taskli li div
        {
            width: 90%;
            float: left;
        }

        .taskli li button
        {
            width: 10px;
            float: right;
        }

        .taskli li span
        {
            display: block;
            clear: both;
        }

.orengline
{
    border-left: #e89700 solid 6px;
}

.greenline
{
    border-left: #adcf00 solid 6px;
}

.buleline
{
    border-left: #53a590 solid 6px;
}

.pinkline
{
    border-left: #cf3546 solid 6px;
}

.skybuleline
{
    border-left: #6bc1ab solid 6px;
}

.blackline
{
    border-left: #12131a solid 6px;
}

.fnt12
{
    font-size: 12px;
}

.bglightbule li
{
    background: #e9edf4!important;
}

    .bglightbule li:hover
    {
        background: #e0e4ec!important;
    }

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td
{
    border: 1px solid #d1ced3!important;
}

.table td a, .table th a
{
    color: #209bc8!important;
}

.table thead td, .table thead th
{
    background: #e9edf4!important;
}

.panel .table td, .panel .table th
{
    border-top: #d1ced3 solid 1px!important;
    border-bottom: #d1ced3 solid 1px!important;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: inherit;
}

.paddbtm30
{
    padding-bottom: 20px;
}

.paddnone
{
    padding: 0px!important;
}

.imgresponsive img
{
    width: 100%;
    max-width: 498px;
}

/*.vbox > footer span {
    bottom: 0;
    display: block;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}*/

.grreniconarea
{
    background: url(../images/bg_brren.png) no-repeat left top;
    display: inline-block;
    width: 113px;
    height: 28px;
    text-align: left;
    padding: 3px 0px 0px 19px;
    position: absolute;
    display: inline-block;
    bottom: -20px;
    right: 15px;
    position: fixed;
    bottom: 0px;
    right: 30px;
    z-index: 999999;
}

    .grreniconarea span
    {
        display: inline-block;
        padding: 0px 0px 0px 5px;
    }

        .grreniconarea span:first-child
        {
            padding-left: 0px;
        }

.textrgiht
{
    text-align: right;
    position: relative;
}

h3.m-b-xs
{
    margin-bottom: 5px;
}

.bgcalender
{
    background: #202931!important;
}

.panel-heading
{
    border-radius: 6px 6px 0 0!important;
}

.panel
{
    border-radius: 5px;
}

.panel-heading .btn span
{
    color: #000000!important;
    font-size: 13px;
}

.panel-heading span
{
    font-size: 14px;
    color: #788288;
}

.fc-header-title h2
{
    color: #000000!important;
}

.calendar
{
    padding: 0px 0px 0px 0px!important;
    border-left: #ffffff 13px solid;
    border-right: #ffffff 13px solid;
    border-bottom: #ffffff 20px solid;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fc-header
{
    border-left: #c1c1c1 solid 1px!important;
    border-right: #c1c1c1 solid 1px!important;
}

.fc-content .fc-widget-header, .fc-content .fc-widget-content
{
    border-color: #c1c1c1!important;
}

.panel .fc-content
{
    margin: 0px!important;
}

.calendararea .fc-ltr .fc-event-hori.fc-event-end, .calendararea .fc-rtl .fc-event-hori.fc-event-start
{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.fc-grid .fc-day-number
{
    padding: 0px 4px!important;
}

.conversationarea
{
    background: #f2f4f8;
}

.chat-item .arrow.right:after
{
    border-left-color: #e9edf4;
}

.conversationarea .text-muted
{
    color: #6a6f7a;
}

.conversationarea .input-sm
{
    height: 40px;
}

.conversationarea .btn-sm, .conversationarea .btn-group-sm > .btn
{
    line-height: 2.3!important;
}

.conversationarea .footer
{
    min-height: 70px;
    background: #ffffff!important;
    padding: 5px 10px 5px 10px;
    border-top: #e1e6ef solid 2px!important;
}

.conversationarea .form-control
{
    height: 40px !important;
}

.fnt12td table td, .fnt12td table th
{
    font-size: 12px!important;
}

.dataTables_length
{
    display: inline-block;
    float: right;
    padding: 0px!important;
    margin-top: -53px;
}

    .dataTables_length label
    {
        color: #ffffff!important;
    }

.dataTables_wrapper select, .dataTables_wrapper input
{
    color: #000000!important;
}

.dataTables_length select
{
    margin: 0px 5px;
}

.contacttoparea
{
    background: #ebf0f4;
    border: #d3dae2 solid 1px;
    padding: 5px 0px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
    min-height: 24px;
}
/*.tableshowarea{ position:absolute; top:10px; bottom:auto; right:15px; display:inline-block;}*/
.tableshowarea
{
    position: absolute;
    top: 10px;
    bottom: auto;
    right: 15px;
    display: inline-block;
    z-index: 999;
}

    .tableshowarea ul
    {
        float: right;
        margin: 0px;
        padding: 0px;
    }

        .tableshowarea ul li
        {
            float: left;
            list-style: none;
            font-size: 11px;
            border-left: #cccccc solid 1px;
            padding: 0px 0px 0px 6px;
            margin-left: 6px;
        }

            .tableshowarea ul li:first-child
            {
                border-left: none;
                padding: 0px 0px 0px 0px;
                margin-right: 0px;
            }

            .tableshowarea ul li .select2-container .select2-choice
            {
                width: 50px!important;
            }

            .tableshowarea ul li .dataTables_length label
            {
                color: #000000!important;
                display: inline-block;
            }

            .tableshowarea ul li .select2-container
            {
                min-width: 50px!important;
                width: 50px!important;
            }


.paddall15
{
    padding: 4px 0px;
}

.contactbrmbtm
{
    border-bottom: #e6e9ed solid 1px;
}

.form-control
{ /* height:30px!important;*/
    color: #788288!important;
    font-size: 12px;
}

.contactbrmbtm .form-control
{
    max-width: 130px;
    width: 100%;
}

.spical .select2-container
{
    min-width: 159px;
}

.contactbrmbtm .form-group-addon
{
    padding: 4px 12px 4px 0;
}

.form-group-addon
{
    padding: 2px 12px 3px 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cbd5dd;
    border-left: none;
    margin-left: -5px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

    .form-group-addon span
    {
        padding-top: 7px;
    }

.contactbrmbtm .date label
{
    float: left;
    margin-right: 3px;
    line-height: 25px;
}

.contactbrmbtm label
{
    font-size: 13px;
}

.contactbrmbtm .date .form-control
{
    max-width: 107px;
    float: left;
}

.contactbrmbtm .btn
{
    padding: 3px 24px 2px 24px;
    line-height: 1.40;
}

.buttonarea img
{
    margin: 0px auto;
    display: inline-block;
}

.contactbottomarea
{
    padding: 10px 0px 0px 0px;
}

.icontd a
{
    margin: 0px 4px;
    display: inline;
}


.tableblack .table thead td, .tableblack .table th
{
    background: #222733!important;
    color: #ffffff;
    font-weight: normal;
    font-size: 13px;
}

    .tableblack .table th.roundleft
    {
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-left-radius: 5px;
    }

.tableblack .table thead .roundright
{
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.tableblack .table td
{
    font-size: 13px;
    /*background: #ffffff;*/
    vertical-align: middle;
}

    .tableblack .table td.yallowfnt, .tableblack .table thead th.yallowfnt
    {
        color: #ffd258;
    }

.tableblack .i-checks i
{
    width: 12px;
    height: 12px;
}

.tableblack .i-checks i
{
    font-size: 11px;
}

.tableblack .i-checks input:checked + i:before
{
    left: -1px;
    top: -1px;
}

.tableblack .dataTables_wrapper input
{
    width: 10px;
}

.tableblack .dataTables_wrapper label
{
    display: inline-block;
}

.tableblack .table tr th:first-child
{
    border-top-left-radius: 5px;
}

.tableblack .table tr th:last-child
{
    border-top-right-radius: 5px;
}

.padspecial
{
    padding: 0px!important;
}

.marginnone .table
{
    margin-bottom: 0px!important;
}

.marginnone .tableblack .table tr th:first-child
{
    border-top-right-radius: 0px;
}

.tableminpadd .table tr td
{
    padding: 8px 8px!important;
}

.tablescrolldiv
{
    min-height: 10px;
    max-height: 250px;
    overflow: auto!important;
    padding-bottom: 20px;
    /*margin-bottom: 20px;*/
}

.tableblack .table tr:last-child td:first-child
{
    /*border-bottom-left-radius: 10px;*/
}

.tableblack .table tr:last-child td:last-child
{
    /*border-bottom-right-radius: 10px;*/
}

.tableblack .table tr:first-child td
{
    border-top-style: solid;
}

.tableblack .table tr td:first-child
{
    border-left-style: solid;
}

.paddtopnone
{
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.paginationnew
{
    background: #fff!important;
}

    .paginationnew td table
    {
        margin: 8px 0px!important;
        text-align: right;
    }


.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span
{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 3px;
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span
{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 3px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus
{
    color: #000000;
    background-color: #fff;
    border-color: #ddd;
}

.pagination > li > a:focus,
.pagination > li > span:focus
{
    font-weight: bold;
}

.formaarea .form-horizontal .form-group
{
    margin-left: -0px;
    margin-right: -0px;
}

.formaarea textarea.form-control
{
    height: 100px!important;
    resize: none;
}

.formaarea .chosen-container
{
    display: block;
    width: 100%!important;
    height: 27px!important;
}

.iconmegh
{
    text-align: center;
    line-height: 22px;
}

    .iconmegh a
    {
        background: url(../images/logo_meghtechnologies.png) no-repeat left 3px;
        width: 20px;
        height: 23px;
        display: inline-block;
        margin-left: 4px;
    }


.navicopy
{
    display: none;
    color: #777777;
    font-size: 11px;
    text-align: left;
    padding: 20px 20px;
}



.tableblack .table .paginationnew td, .tablepagetion td
{
    border: none!important;
}

    .tableblack .table .paginationnew td td, .tablepagetion td
    {
        padding: 0px 3px 0px 0px!important;
        line-height: 12px;
    }

.tableblack .table td table tr:last-child td:first-child
{
    border-bottom-left-radius: 0px;
}

.tableblack .table td table tr:last-child td:last-child
{
    border-bottom-right-radius: 0px;
}

.tableblack .table .paginationnew td td a, .tablepagetion td a
{
    background: #f0f0f0;
    padding: 5px 6px;
    display: block;
}

.tableblack .table .paginationnew td td span, .tablepagetion td span
{
    background: #1aae88;
    padding: 5px 6px;
    display: block;
    color: #ffffff;
}

.paginationnew td, .tablepagetion td
{
    padding: 0px 0px 0px 0px!important;
    line-height: 12px;
    margin: 0px!important;
}

    .paginationnew td a, .tablepagetion td a
    {
        cursor: pointer;
        outline: 0 none;
        padding: 4px 8px;
        color: #3C4144!important;
        text-decoration: none;
        text-align: center;
        margin: 0px -2px;
        border-left: 1px solid #D9D9D9!important;
        border-top: 1px solid #D9D9D9!important;
        border-bottom: 1px solid #D9D9D9!important;
        background: #FFFFFF!important;
        display: inline-block;
        min-width: 25px;
    }

        .paginationnew td a.nextbtn, .tablepagetion td a.nextbtn
        {
            width: 62px;
            padding-left: 3px;
            padding-right: 3px;
        }

        .paginationnew td a.prebtn, .tablepagetion td a.prebtn
        {
            width: 60px;
            padding-left: 3px;
            padding-right: 3px;
        }

        .paginationnew td a.firstpage, .tablepagetion td a.firstpage
        {
            border-radius: 4px 0px 0px 4px!important;
        }

        .paginationnew td a.lastpage, .tablepagetion td a.lastpage
        {
            border-radius: 0px 4px 4px 0px!important;
            border-right: 1px solid #D9D9D9!important;
        }

    .paginationnew td span, .tablepagetion td span
    {
        color: #006!important;
        text-align: center;
        border: 1px solid #D9D9D9!important;
        background: #FFFFFF!important;
        padding: 4px 8px;
        margin: 11px -3px;
    }

.padd10all
{
    padding: 5px 10px;
}

.leftarea1
{
    float: left;
    width: 50%;
    line-height: 14px;
}

.rightarea1
{
    float: right;
    width: 50%;
    text-align: right;
    line-height: 14px;
}

.showenteries
{
    display: inline-block;
    line-height: 25px;
}

    .showenteries td
    {
        padding: 0px 4px;
    }

    .showenteries .select2-container
    {
        min-width: 50px !important;
        width: 65px !important;
    }

        .showenteries .select2-container .select2-choice
        {
            height: 30px;
            line-height: 28px;
        }

.clear
{
    clear: both;
}

.rightarea1 .buttonarea img
{
    margin: 0px;
}

.rightarea1 .buttonarea .btn
{
    line-height: 0px;
    padding: 6px;
}

.messesgarea
{
    margin: 10px 0px;
}


.formainline
{
}

    .formainline .form-control
    {
        display: inline-block;
        width: 75%;
    }

.formnew .form-control
{
    width: 100%;
}

.formainline .select2-container
{
    width: auto!important;
}

.formainline .form-group label
{
    display: inline-block;
    margin: 0px 10px 0px 0px;
    width: 25%;
    text-align: left;
}

.formainline .form-group table label
{
    width: 100%;
}

.formainline .form-group table.tableb
{
    width: 100%;
}

    .formainline .form-group table.tableb td
    {
        padding: 0px 0px 0px 0px;
    }

        .formainline .form-group table.tableb td.per25
        {
            width: 27.5%;
        }

        .formainline .form-group table.tableb td.with200
        {
            width: 210px;
        }

.marginleft
{
    margin-left: 28%;
}

.checkareanew label
{
    margin-right: 10px;
}

.formainline .form-group.checkareanew label
{
    margin-top: 0px;
    float: left;
    margin-right: 12px;
}

.checkareanew input[type="checkbox"]
{
    margin-top: 5px;
    margin-right: 5px;
    float: left;
}

.select2-drop-active
{
    z-index: 999999;
}

.checkboxinnerarea .formainline .form-group
{
    display: inline-block;
    width: 33%;
}

    .checkboxinnerarea .formainline .form-group label
    {
        display: inline-block;
        margin: 0px 10px 0px 0px;
        width: 37%;
    }

.modal-title
{
    text-align: left;
}

.spicaltextbox .form-control
{
    height: 100px!important;
}

.datedpikartable td
{
    padding-right: 4px;
}

    .datedpikartable td:last-child
    {
        padding-right: 0px;
    }

.dislpyinlinediv
{
    display: inline-block;
}

.contactbrmbtm .btnserchicon
{
    padding: 3px 7px 4px 7px;
    margin-top: -1px;
}

.marginleft5
{
    margin-left: 5px;
    margin-top: 3px;
}

.btn-green
{
    background: #1aae88;
    color: #ffffff;
}

.verticaaline
{
    vertical-align: middle!important;
}

.tablebrd
{
    border: #cccccc solid 1px;
    border-bottom: none;
}

    .tablebrd td
    {
        border-bottom: #cccccc solid 1px;
        border-right: #cccccc solid 1px;
        padding: 3px 5px;
    }

.contacttoparea.paddleftright10
{
    padding: 5px;
}

.autocomplete_completionListElement
{
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    color: #788288;
    border-radius: 0 0 4px 4px;
    border: #cccccc solid 1px;
    padding: 0px 10px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

    .autocomplete_completionListElement li
    {
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 13px;
        float: none!important;
        width: 100%!important;
        color: #788288!important;
    }

.marginbtm10 .autocomplete_completionListElement
{
    visibility: hidden;
}

.autocomplete_completionListElement
{
    margin: 0px !important;
    background-color: White;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    /*overflow: auto;*/
    font-family: Calibri;
    font-size: 12px;
    text-align: left;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    /*max-height: 150px;*/
    width: auto;
}
/* ============ modal popup ================= */
.modalbackground
{
    background-color: Gray;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    z-index: 999!important;
}

#divUpdateStatus
{
    border: 2px solid #fff!important;
}

.dashboardlist
{
    border: 1px solid #000;
    border-radius: 20px;
}

.listdata ul li
{
    list-style: none;
}

    .listdata ul li img
    {
        width: 12px!important;
        height: 12px!important;
        float: left;
        margin-top: 3px;
        margin-right: 5px;
    }

.listdata table tr td
{
    padding: 0px 5px;
}

.jqplot-table-legend tr td
{
    padding: 0px 5px!important;
    font-family: "Open Sans"!important;
    font-size: 15px!important;
}

.modal
{
    background: url(../images/bg_popup.png) repeat left top;
}

.modal-dialog
{
    margin: 170px auto!important;
    left: 0px;
}

.modal-header
{
    background: #202931!important;
    color: #ffffff!important;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none!important;
}

    .modal-header h4 span
    {
        margin: -2px 0px 0px 5px;
        display: inline-block;
    }

.modal-dialog .close
{
    color: #ffffff!important;
}

.modal-body .tablea
{
    border: none;
    width: 100%;
}

    .modal-body .tablea thead td, .modal-body .tablea thead th
    {
        background: #53a590!important;
        color: #ffffff!important;
        font-size: 14px!important;
    }

    .modal-body .tablea td, .modal-body .tablea th
    {
        padding: 10px!important;
        border-top: #cccccc solid 1px;
        border-right: #cccccc solid 1px;
    }

.brdnone
{
    border-right: none!important;
}

.brdnonebtm
{
    border: none!important;
}


.loginarea
{
    margin: 120px auto 0px;
    display: block;
    vertical-align: middle;
    text-align: center;
    color: #eeeeee;
    width: 475px;
    height: 358px;
    background: url(../images/login_back.png) no-repeat left top;
    -webkit-border-radius: 5px;
    padding: 55px 80px 80px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #202931;
    -webkit-box-shadow: 0 0 73px rgba(0,0,0,.45);
    -moz-box-shadow: 0 0 73px rgba(0,0,0,.45);
    box-shadow: 0 0 73px rgba(0,0,0,.45);
}

    .loginarea a
    {
        color: #eeeeee;
    }

.logindiv
{
    display: inline-block;
}

.loginarea h1
{
    font-size: 35px;
    color: #dce3eb;
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 35px 0px;
}

.textcenter
{
    text-align: center;
}

.loginarea .formaarea
{
    text-align: left;
    width: 320px;
    margin: 0px auto;
}

    .loginarea .formaarea .form-control
    {
        font-size: 13px;
        border-radius: 5px;
        height: 40px!important;
        background: #bce0f8;
    }

.forgorpass
{
    font-size: 12px;
    color: #000000;
    margin-top: -5px;
    text-align: right;
    margin-bottom: 5px;
}

.minhegihtarea
{
    min-height: 500px;
}

.addcontent
{
    text-align: right;
    margin-top: -42px;
    margin-bottom: 15px;
}

.addcontact
{
    padding-left: 15px;
}

    .addcontact i
    {
        background: url(../images/icon_addcontact.png) no-repeat left top;
        width: 19px;
        height: 19px;
        display: inline-block;
        margin-right: 5px;
        margin-top: 1px;
        float: left;
    }

.form-group
{
    text-align: left;
}

.forgorpass
{
    color: #fff;
}

    .forgorpass a
    {
        color: #fff;
        float: right;
    }

textarea
{
    resize: none;
}

.onelindiv span
{
    width: 31.5%!important;
    float: left;
    margin-left: 6px;
}

    .onelindiv span:first-child
    {
        margin-left: 0px!important;
    }

    .onelindiv span.col-md-4
    {
        width: 33.3333%!important;
        margin-left: 0px!important;
    }

.radio table tr td
{
    padding: 0px 5px;
}

    .radio table tr td input[type="radio"]
    {
        margin-right: 5px;
        margin-top: 6px;
        float: left;
    }

    .radio table tr td label
    {
        float: left;
    }

.textareabox textarea.form-control
{
    height: 100px!important;
    width: 100%!important;
}

.margintopnone
{
    margin-top: 0px!important;
}

.textcenterbutton
{
    text-align: center;
}

.paddtopbottom5px
{
    padding: 5px 0px;
}

    .paddtopbottom5px input
    {
        margin: 0 5px;
    }
/*.compnaytable table tr td{padding:0px 8px!important;}
.compnaytable table tr.paginationnew td {padding:8px!important;}*/

.dropdown dd, .dropdown dt
{
    margin: 0px;
    padding: 0px;
    width: 250px;
    word-break: normal;
    white-space: nowrap;
}

.dropdown ul
{
    margin: -1px 0 0 0;
    z-index: 999999!important;
    position: absolute;
    background: #fff;
}

dl.dropdown
{
    margin-bottom: 0px!important;
}

.dropdown dd
{
    position: relative;
}

.dropdown a,
.dropdown a:visited
{
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.dropdown dt a
{
    background: #fff url(../images/select_img.jpg) no-repeat right 6px;
    display: block;
    padding: 0px 20px 0px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 250px;
    border: 1px solid #ccc;
    font-weight: normal;
}

.dropdown p
{
    margin: 0px!important;
    padding: 0px!important;
}

.dropdown dt a span, .multiSel span
{
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
    color: #788288;
}

.dropdown dd ul
{
    background-color: #fff;
    border: 0;
    color: #000;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 4px;
    position: absolute;
    top: 2px;
    width: 250px;
    list-style: none;
    height: 200px;
    z-index: 99999;
    overflow: auto;
    font-size: 13px;
    border: 1px solid #5897fb;
}

.contactbrmbtm ul
{
    border-left: 1px solid #5897fb;
    border-right: 1px solid #5897fb;
    border-bottom: 1px solid #5897fb;
    margin-top: -52px!important;
}

.ulborder ul
{
    border-left: 1px solid #5897fb;
    border-right: 1px solid #5897fb;
    border-bottom: 1px solid #5897fb;
    margin-top: -52px!important;
}

.dropdown dd ul li input[type="checkbox"]
{
    float: left;
    margin-right: 5px;
}

.dropdown span.value
{
    display: none;
}

.dropdown dd ul li a
{
    padding: 5px;
    display: block;
}

    .dropdown dd ul li a:hover
    {
        background-color: #fff;
    }

button
{
    background-color: #6BBE92;
    width: 302px;
    border: 0;
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.multiselect .dropdown dd, .multiselect .dropdown dt, .multiselect .dropdown dd ul
{
    width: 170px;
}

    .multiselect .dropdown dt a
    {
        width: 170px;
    }

.panlenew button
{
    width: auto!important;
    margin-top: 0px!important;
}

.default
{
    position: relative;
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.btnback
{
    text-align: left;
    display: inline-block;
    float: right;
    background: #494949;
    margin-top: -4px;
    padding: 4px 12px!important;
    position: relative;
    width: 65px;
}

.name
{
    width: 100%;
    display: inline-block;
}

.btnback a
{
    color: #fff;
    left: 15px;
    position: absolute;
    text-align: left;
}

.martop10
{
    margin-bottom: 0px!important;
    margin-top: 10px!important;
}

.marbottom10
{
    margin-bottom: 10px!important;
}

.marbottom20
{
    margin-bottom: 20px!important;
}

.margintop10
{
    margin-top: 10px!important;
}

.toppaneldiv
{
    position: relative;
}

.imgbtn
{
    width: 15px;
    height: 11px;
    border: 0px solid #000;
    float: right;
    cursor: pointer;
    z-index: 999;
    font-size: 25px;
    color: #000;
    position: absolute;
    right: 7px;
    line-height: 15px;
    background: url(../images/btn_updown.png) no-repeat left top;
    display: block;
    top: 7px;
}

    .imgbtn.plus
    {
        background: url(../images/btn_updown.png) no-repeat left -13px;
    }
/* ========= New css Strart========= */
.calendericonarea
{
    vertical-align: top;
    padding-top: 9px;
}

.paddtop3td
{
    padding-top: 3px;
}

.tableblack .table th a
{
    display: block;
    background: url(../admin/images/arrow_up_down.png) no-repeat right center;
    color: #ffffff!important;
    padding-right: 12px;
}

.tableblack .table th
{
    font-weight: bold;
    padding-right: 8px!important;
}

.tableblack .table td
{
    padding-right: 8px!important;
    height: 38px;
    word-wrap: break-word;
}

.tableblack .table td
{
    word-wrap: break-word;
}

.tableblack .contactgrid .table td
{
    padding-right: 1px!important;
}

.tableblack .table td.tdspecialclass span.gridmainspan
{
    position: static;
}

.tableblack .table td.tdspecialclass span a, .tableblack .table td.tdspecialclass span span.name
{
    float: left;
    display: inline-block;
    max-width: 70%;
}

.tableblack .table td.tdspecialclass span .contacticonedit
{
    float: right;
    width: 20%;
    text-align: right;
    position: static;
}

.tableblack .table td.tdspecialclass.spicalheghtnew
{
    padding-top: 7px!important;
}

    .tableblack .table td.tdspecialclass.spicalheghtnew .contacticonedit
    {
        height: 22px;
    }

.tableblack .table td.tdspecialclass .postionrelative
{
    position: static;
}

.spcialcontacticonedit .btneditmain
{
    right: 11px !important;
}

.tooltipareanewshow .locked.tdspecialclass
{
    overflow: visible!important;
}

    .tooltipareanewshow .locked.tdspecialclass .GridCellDiv
    {
        position: relative;
    }

.locked.tdspecialclass .GridCellDiv span.postionrelative
{
}

.tooltipareanewshow #ctl00_ContentPlaceHolder1_GridView1PanelItemContentFreeze, .tooltipareanewshow #ctl00_ContentPlaceHolder1_TabContainer1_TabDeduct_GridView1PanelItem
{
    overflow: visible!important;
}
/*.locked.tdspecialclass .GridCellDiv span.postionrelative{ position:static!important;}*/



.select2-results .select2-result-label
{
    font-size: 12px;
}

.form-inline .form-group.withspc1
{
    width: 140px;
}

h4
{
    margin-top: 0px!important;
}

.marginbtm10
{
    margin-bottom: 10px;
}

.checkboxarea .name
{
    width: 88px;
    display: inline-block;
}

.textareaboxheight textarea
{
    height: 100px;
}

.spicaltextbox .textareaboxheight textarea
{
    height: 81px;
}

.tabintab
{
    padding: 0px 0px;
}

.paddleftright15
{
    padding-left: 15px;
    padding-right: 15px;
}

.margintop50
{
    margin-top: 50px;
}

.btnicondelete
{
    margin-top: 8px!important;
    line-height: 24px!important;
}

.height27
{
    height: 27px!important;
    line-height: 24px!important;
}

.contacticonedit
{
    position: absolute;
    right: 0px;
    top: 0px;
}

.gridmainspan
{
    position: relative;
}

.btneditmain
{
    position: absolute;
    right: 5px;
}

.posrel
{
    display: inline-block !important;
    height: 17px;
    position: relative;
    width: 150px !important;
}

.postionrelative
{
    position: relative!important;
}

.leadterecker .GridviewScrollItem TD
{
    overflow: inherit!important;
}

/* ========= New css End========= */
/****************** tab ****************/
.ajax__tab_xp .ajax__tab_header
{
    padding-left: 0px;
    font-size: 12px!important;
    background: url(../images/line_divider.jpg) repeat-x left bottom;
}

.ajax__tab_inner, .ajax__tab_tab, .ajax__tab_outer
{
    background: none !important;
    background: #EBEDF1 !important;
    padding: 0px 10px 0px 10px;
    color: #000;
}

.ajax__tab_active .ajax__tab_inner, .ajax__tab_active .ajax__tab_tab, .ajax__tab_active .ajax__tab_outer
{
    background: none !important;
    background: #ffffff !important;
    color: #000000;
}

.ajax__tab_hover .ajax__tab_inner, .ajax__tab_hover .ajax__tab_tab, .ajax__tab_hover .ajax__tab_outer
{
    background: none !important;
    background: #fafafa !important;
    color: #000;
}

.ajax__tab_xp .ajax__tab_tab
{
    height: 20px !important;
    line-height: 16px;
}

.ajax__tab_tab
{
    margin-top: 10px;
}

.ajax__tab_xp .ajax__tab_outer
{
    height: 30px!important;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    margin-right: -1px;
}

.ajax__tab_xp .ajax__tab_body
{
    padding: 8px 15px!important;
    border: #cccccc solid 1px!important;
    border-top: none!important;
}

.ajax__tab_xp .ajax__tab_inner
{
    background: none!important;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_tab
{
    outline: none!important;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_outer
{
    border-bottom: #cccccc solid 1px;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_outer
{
    border-bottom: none;
}

.tableblack .btn
{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

textarea
{
    border: 1px solid #cbd5dd;
}

.panel-heading
{
    background: #333!important;
    color: #fff!important;
}


.companytab .ajax__tab_inner, .companytab .ajax__tab_tab, .ajax__tab_outer
{
    padding: 0px 8px;
}

.companytab .ajax__tab_xp .ajax__tab_header .ajax__tab_inner
{
    padding-left: 1px;
}

.companytab .ajax__tab_xp .ajax__tab_header .ajax__tab_outer
{
    padding-right: 1px;
}

.tooltip > .tooltip-inner
{
    background-color: #1aae88;
}

.tooltip.top .tooltip-arrow
{
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1aae88;
}

.spiclwithnew .tooltip
{
    word-wrap: break-word!important;
    display: inline-block!important;
    white-space: wrap!important;
    font-size: 11px!important;
}

.btncustaddress
{
    background: #fff url(../images/icon_custaddress.jpg) no-repeat left top;
    border: 0px;
    padding: 5px;
}

.height100
{
    height: 105px!important;
}

.legend
{
    font-size: 17px!important;
}
/*.projectsale .select2-container .select2-choice{height:34px!important;}*/
.floatleft
{
    float: left;
}

.radiogruopmain input[type="radio"]
{
    float: left;
    margin-left: 15px;
    margin-right: 5px;
}

.marbottom53
{
    margin-bottom: 45px;
}

.padtop30
{
    padding-top: 30px;
}

.martop15
{
    margin-top: 20px!important;
}

.checkboxmain
{
    padding-top: 2px;
    display: inline-block;
}

.doller
{
    display: inline-block;
}

.width120
{
    width: 100%;
}

.disblock
{
    display: block;
}

.colorblack
{
    color: #000;
}

.divall
{
    padding-bottom: 0px;
}

.divfirst
{
    float: left;
    width: 53%;
}

.divall
{
    padding-bottom: 0px;
}

.divfirst
{
    float: left;
    width: 30%;
}

.divsecond
{
    float: left;
    width: 50%;
}

.divall .form-group span
{
    width: 150px !important;
}

    .divall .form-group span span.doller
    {
        width: 10px!important;
        padding: 4px 0px 0px 4px;
        float: left;
    }

    .divall .form-group span.floatleftin input
    {
        float: left;
    }

.divsecond input[type="checkbox"]
{
    margin-top: 8px;
}

.spicagraylight
{
    border: 1px solid #f0f0f0;
    background: #fcfcfc;
    padding: 10px;
    width: 70%;
    margin-bottom: 15px;
}

.divall .divsecond .spicagraylight .form-group span.fistdv
{
    width: 145px!important;
}

.divfirst label
{
    display: block;
}

.divall .divsecond .form-group span.fistdv
{
    width: 120px !important;
}

.divall .divsecond .form-group span.seconddv
{
    width: 130px !important;
}

.divall .divsecond .form-group span
{
    width: 80%!important;
}

    .divall .divsecond .form-group span .select2-container .select2-choice .select2-arrow
    {
        width: 25px!important;
    }

.divfirst .form-group span.name
{
    float: left;
}

.divall .divsecond .dateimgarea .textarea.form-control
{
    min-width: 200px!important;
}

.spicagraylight .form-group span.dateimg
{
    width: 99%!important;
}

.seconddv input[type="text"]
{
    float: none!important;
}

.depositerequired
{
    width: 150px;
    border: 0px solid #000;
    display: inline-block;
    position: relative;
}

    .depositerequired input[type="text"]
    {
        float: left!important;
        display: inline-block!important;
    }

.padleft5
{
    padding-right: 5px;
}

.divall .divsecond .form-group span.checkareabox .otehrtext, .divall .divsecond .form-group span.checkareabox .chknoxtwo
{
    float: left;
    width: 54px !important;
}

.divall .divsecond .dateimgarea .textarea.form-control
{
    min-width: 200px!important;
}

.quateapage .dateimg
{
    width: 100%;
    display: inline-block;
}

    .quateapage .dateimg input[type="text"]
    {
        float: left;
        margin-right: 6px;
    }

h5
{
    color: #333;
    font-weight: bold;
}

.blackcolor
{
    color: #333;
}

.brdbox
{
    border-bottom: #d5d5d5 solid 1px;
    padding: 0px 0px 15px;
}

.bottomquote span.name
{
    width: 150px;
    display: inline-block;
}

.formarea .form-group span label
{
    width: 140px;
    display: inline-block;
}

.formpage .dateimgarea .dateimg input[type="text"], .stcpage .dateimgarea .dateimg input[type="text"]
{
    display: inline-block;
}

.formpage .dateimgarea .name, .stcpage .dateimgarea .name
{
    display: block;
}

.elecpage .dateimgarea .dateimg input[type="text"]
{
    display: inline-block;
}

.floatright
{
    float: right;
}

.empdetailmenu
{
    padding-bottom: 10px;
    background: #ebf0f4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

    .empdetailmenu a
    {
        color: #048967;
    }

    .empdetailmenu .selected a
    {
        color: #000;
    }

.disblockcss
{
    float: left;
    margin-right: 5px;
}

.stcpage input[type="checkbox"]
{
    margin-top: 4px;
}

.martop42
{
    margin-top: 42px;
}

.checkboxmain2 span.name
{
    float: left;
    margin-right: 3px;
}

.checkboxmain2 input[type="checkbox"]
{
    margin-top: 6px;
}

.checkboxmain3 span.name
{
    float: left;
    margin-right: 3px;
}

.checkboxmain3 input[type="checkbox"]
{
    margin-top: 5px;
}

.checkmargin input[type="checkbox"]
{
    margin-top: 6px;
}

.checkboxmain2
{
    margin-top: 20px;
}
/*label{color:#333;}*/
.dollarsign
{
    width: 150px;
}

    .dollarsign input[type="textbox"]
    {
        display: inline-block;
    }

table.tableinstallation tr td
{
    border: 0px!important;
    padding: 4px;
    font-size: 12px;
}

.fontsize_11 tr td
{
    font-size: 10px!important;
    padding: 2px!important;
}

table.tableinstallation tr.title
{
    color: #333;
    border: 1px solid #ccc;
    background: #f2f2f2;
    font-weight: bold;
}

    table.tableinstallation tr.title td
    {
        padding: 5px;
    }

table.tableinstallation thead tr td
{
    background: #b5e5d9;
    font-size: 13px;
    color: #000;
    text-align: center;
    border: 1px solid #b5e5d9!important;
}

.printicon
{
    height: 30px;
    padding-top: 10px;
}

table.tableinstallation thead, table.tableinstallation tbody
{
    width: 170px!important;
}

table.tableinstallation tr.brdergray
{
    border: 1px solid #ccc;
}

table.tableinstallation tr td strong
{
    color: #333;
}

table.tableinstallation tr td a
{
    color: #034736;
}

.btnrevert
{
    background: url(../images/revert.png) no-repeat left top!important;
    width: 25px;
    height: 20px;
    border: 0px;
    text-indent: -20000px;
    display: block;
    margin: 0px auto;
}

.week
{
    float: right;
    margin: 0px;
    padding: 0px;
}

    .week ul
    {
        margin: 0px;
        padding: 0px;
        border: 1px solid #cccccc;
        display: inline-block;
    }

        .week ul li
        {
            padding: 5px 10px;
            border-right: 1px solid #cccccc;
            float: left;
            list-style: none;
        }

            .week ul li.last
            {
                border-right: none;
            }

.projectstatus label
{
    width: 100%!important;
}

.datrapickermain input[type="text"]
{
    float: left;
}

.panel .table .datedpikartable tr td
{
    padding: 0px!important;
    border: 0px!important;
}

.unpaidbill table tr td input[type="image"]
{
    float: left;
    margin-right: 5px;
}

.modaldesc label
{
    float: left;
}

.btn-danger
{
    border-radius: 50px!important;
}


.custom-radio
{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    background: url("../images/radio.png") no-repeat!important;
}

    .custom-radio:hover
    {
        background: url("../images/radio-hover.png") no-repeat!important;
    }

    .custom-radio.selected
    {
        background: url("../images/radio-selected.png") no-repeat!important;
    }

    .custom-radio input[type="radio"]
    {
        margin: 1px;
        position: absolute;
        z-index: 2;
        cursor: pointer;
        outline: none;
        opacity: 0;
        /* CSS hacks for older browsers */
        _noFocusLine: expression(this.hideFocus=true);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -khtml-opacity: 0;
        -moz-opacity: 0;
    }

.custom-checkbox
{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    background: url("../images/checkbox.png") no-repeat!important;
}

    .custom-checkbox:hover
    {
        background: url("../images/checkbox-hover.png") no-repeat!important;
    }

    .custom-checkbox.selected
    {
        background: url("../images/checkbox-selected.png") no-repeat!important;
    }

    .custom-checkbox input[type="checkbox"]
    {
        margin: 0;
        position: absolute;
        z-index: 2;
        cursor: pointer;
        outline: none;
        opacity: 0;
        /* CSS hacks for older browsers */
        _noFocusLine: expression(this.hideFocus=true);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -khtml-opacity: 0;
        -moz-opacity: 0;
    }

.textareabox textarea.areaheight
{
    height: 170px!important;
}

.btn
{
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 3px 7px 4px;
}

.managecompanyttl
{
    display: inline-block;
    height: 60px;
    margin-bottom: 5px;
}

.addwhiteicon
{
    background: url("../images/icon_addwhite.png") no-repeat scroll 10px 4px #e33244 !important;
    padding-left: 35px;
    border: 1px solid #e33244!important;
}

.resetbutton
{
    background: url("../images/btn_reseticon.png") no-repeat scroll 12px 6px #222733 !important;
    padding-left: 35px;
    color: #fff!important;
}

.calcelwhiteicon
{
    background: url("../images/icon_cancel.png") no-repeat scroll 12px 6px #222733!important;
    padding-left: 35px;
    color: #fff!important;
}

.savewhiteicon
{
    background: url("../images/icon_save.png") no-repeat scroll 13px 6px #e33244!important;
    padding-left: 35px;
    color: #fff!important;
    border: 1px solid #e33244!important;
}

.updatewhiteicon
{
    background: url("../images/icn_update.png") no-repeat scroll 10px 6px #222733!important;
    padding-left: 35px;
    color: #fff!important;
}


input[type=radio].css-checkbox
{
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

    input[type=radio].css-checkbox + label.css-label, input[type=radio].css-checkbox + label.css-label.clr
    {
        padding-left: 29px;
        height: 22px;
        display: inline-block;
        line-height: 22px;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 22px;
        vertical-align: middle;
        cursor: pointer;
    }

        input[type=radio].css-checkbox:checked + label.css-label, input[type=radio].css-checkbox + label.css-label.chk
        {
            background-position: 0 -22px;
        }

label.css-label
{
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_2a3aa91309bd736aaa9862c5fa6b0b9e.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grayboxmain
{
    background: #f8f8f8;
    border: 1px solid #e2e2e2;
    display: inline-block;
    width: 100%;
    padding: 1% 2%;
}

    .grayboxmain fieldset legend
    {
        font-size: 18px!important; /* border-bottom:0px!important;*/
    }

.varitionsmain .divsecond .form-group span
{
    width: 80px!important;
}

.varitionsmain .divfirst
{
    width: 58%!important;
}

.varitionsmain .divsecond
{
    width: 38%!important;
}

.ajax__tab_xp .ajax__tab_header .ajax__tab_outer
{
    height: 36px !important;
    padding-right: 4px;
    padding-top: 3px;
}

.autocomplete_completionListElement
{
    padding-right: 0;
    margin: 0px !important;
    background-color: #fff;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    /*height: 200px;*/
    text-align: left;
    left: 0px;
    list-style-type: none;
}
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
{
    background-color: #ff0000!important;
    color: black;
    padding: 1px;
}
/* AutoComplete item */
.autocomplete_listItem
{
    background-color: #000000!important;
    color: red!important;
    padding: 1px;
}

.autocomplete_completionListElement li:hover, .autocomplete_completionListElement li.highlight
{
    background: #ccc!important;
    color: #000!important;
    width: 100%;
}

.table-round
{
    border: #dddddd solid 1px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.invoicetable .tablebrd
{
    margin-bottom: 0px!important;
    border: none!important;
    border-top: none!important;
}

.tablebrd td
{
    border-bottom: #dddddd solid 1px;
    border-left: #dddddd solid 1px;
    padding: 5px;
}

.invoicetable .tablebrd thead tr:first-child td:first-child, .invoicetable .tablebrd thead tr:first-child th:first-child
{
    -webkit-border-top-left-radius: 8px!important;
    -moz-border-radius-topleft: 8px!important;
    border-top-left-radius: 8px!important;
}

.invoicetable .tablebrd thead tr:first-child td:last-child, .invoicetable .tablebrd thead tr:first-child th:last-child
{
    -webkit-border-top-right-radius: 8px!important;
    -moz-border-radius-topright: 8px!important;
    border-top-right-radius: 8px!important;
}

.invoicetable .tablebrd thead td, .invoicetable .tablebrd thead th
{
    background: #222733!important;
    color: #ffffff;
    border-top: none!important;
    font-size: 13px;
    border-right: #d1ced3 solid 1px!important;
}

    .invoicetable .tablebrd thead th:last-child
    {
        border-right: #d1ced3 solid 0px!important;
    }

.invoicetable .tablebrd tr td:first-child, .invoicetable .tablebrd tr th:first-child
{
    border-left: none!important;
}

.invoicetable .tablebrd tr:last-child td, .invoicetable .tablebrd tr:last-child td
{
    border-bottom: none!important;
}

.invoicetable table tr td, .invoicetable table tr th
{
    border: 0px!important;
    margin-bottom: 0px!important;
}

.invoicetable table tr th, .invoicetable table tr:hover th
{
    background: #333;
    color: #fff;
}

.invoicetable table tr td
{
    vertical-align: top!important;
    border-left: #dddddd solid 1px!important;
}

    .invoicetable table tr td:first-child
    {
        border-left: #dddddd solid 0px!important;
    }

.tooltip-inner
{
    white-space: normal; /* you can also try white-space: normal; */
    max-width: none;
}

.iconsearchimg
{
    background: #e33244 url(../images/icon_serach.png) no-repeat 6px 5px!important;
    padding-left: 25px!important;
}

@media (max-width: 800px)
{
    .contactbrmbtm .date .form-control
    {
        max-width: 98px;
    }

    .header-md .navbar-nav > li > a
    {
        padding: 20px 15px;
    }

    .loginarea
    {
        margin: 23% auto;
    }

    .onelindiv span
    {
        width: 100%!important;
        margin-left: 0px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width : 701px) and (max-width : 1025px)
{
    .contactbrmbtm .form-group
    {
        margin-bottom: 4px;
    }

    .checkboxinnerarea .formainline .form-group
    {
        display: inline-block;
        width: 44%;
    }

        .checkboxinnerarea .formainline .form-group label
        {
            display: inline-block;
            margin: 0px 10px 0px 0px;
            width: 47%;
        }
}

@media (max-width: 700px)
{
    .contactbrmbtm .form-control
    {
        max-width: 100%;
        width: 100%;
    }

    .contactbrmbtm .date
    {
        width: auto;
        float: left;
        display: inline-block;
        margin: 0px 5px 0px 0px;
    }

    .buttonarea
    {
        margin-top: 20px;
        text-align: left;
    }

    .tableshowarea
    {
        top: auto;
        bottom: 10px;
        right: 15px;
    }

    .navicopy
    {
        display: block;
    }

    .minhegihtarea
    {
        min-height: 50px;
    }

    .checkboxinnerarea .formainline .form-group
    {
        display: inline-block;
        width: 100%;
    }

        .checkboxinnerarea .formainline .form-group label
        {
            display: inline-block;
            margin: 0px 10px 0px 0px;
            width: 30%;
        }
}

@media (max-width: 360px)
{
    .form-group-addon
    {
        padding: 2px 3px 3px 0;
    }

    .contactbrmbtm .date .form-control
    {
        max-width: 88px;
    }

    .buttonarea
    {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 37px;
    }
}

.modalPopup
{
    background-color: #696969;
    filter: alpha(opacity=40);
    opacity: 0.7;
    xindex: -1;
}

#ctl00_ContentPlaceHolder1_GridView1Wrapper #ctl00_ContentPlaceHolder1_GridView1PanelItem
{
    overflow: inherit!important;
}

.disnonetd
{
    overflow: hidden!important;
    position: relative;
}

input[type="submit"].btngocontact
{
    background: #f2f4f8!important;
    height: 30px!important;
    border-radius: 0px!important;
    border: 1px solid #cbd5dd!important;
    box-shadow: none!important;
}

.textboxtext ul li
{
    font-size: 12px;
    color: #333!important;
}

.disnone
{
    display: none!important;
}

.paginationnew .pageshowing
{
    background: none!important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px!important;
    color: #788288!important;
    border: 0px!important;
    margin: 13px 0px 10px !important;
    font-weight: bold;
}

    .paginationnew .pageshowing:hover
    {
        background: none!important;
    }

input[type="checkbox"]
{
    display: none;
}

    input[type="checkbox"] + label
    {
        color: #666;
        font-size: 14px;
        padding: 2px 0 0 0px;
        cursor: pointer;
    }

        input[type="checkbox"] + label:hover
        {
            color: #666;
        }

        input[type="checkbox"] + label span
        {
            width: 18px;
            height: 18px;
            line-height: 1;
            border: 1px solid #cbd5dd;
            background-color: #fff;
            /*margin-left: -20px;*/
            margin-top: -2px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            position: relative;
            font-size: 12px;
        }

    input[type="checkbox"]:checked + label span
    {
        border-color: #177bbb!important;
        background: url(../images/checked.png) -0px top no-repeat;
    }

.chkbx
{
    width: 18px;
    height: 18px;
    line-height: 1;
    border: 1px solid #cbd5dd;
    background-color: #fff;
    /*margin-left: -20px;*/
    margin-top: -2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
    font-size: 12px;
}

.reqerror
{
    color: #788288!important;
    font-size: 12px;
    padding-left: 150px;
}

.emperror
{
    color: #788288!important;
    font-size: 12px;
    padding: 135px;
}

.paddtop2px
{
    padding-top: 4px;
}

.chkwidth label
{
    width: auto!important;
    display: inline!important;
}

.Gridview
{
    font-family: Verdana;
    font-size: 11pt;
    font-weight: normal;
    color: black;
    width: 350px;
}

.Linkbutton
{
    color: White;
}

.noPagination table
{
    margin-bottom: 0px!important;
}

.paginationnew1 table tr td
{
    border: 0px!important;
    height: 44px!important;
}

.btnheight
{
    height: 60px!important;
    margin-top: 0px!important;
}

.paginationnew1 .pageshowing
{
    background: none!important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px!important;
    color: #788288!important;
    border: 0px!important;
    margin: 4px!important;
    font-weight: bold;
}

    .paginationnew1 .pageshowing:hover
    {
        background: none!important;
    }

.modaltextbox
{
    position: relative; /*z-index:999999;*/
}

.comperror
{
    color: #788288!important;
    font-size: 12px;
    padding: 0px;
    height: 15px;
}

.errmsgnopad
{
    float: left;
    margin-left: 6px;
    width: 100%!important;
    color: #788288!important;
    font-size: 12px;
    padding: 0px;
}

.customradio input[type="radio"]
{
    display: none!important;
}

    .customradio input[type="radio"] + label span
    {
        border-radius: 100%;
        border-color: #dbe2e7;
    }

    .customradio input[type="radio"]:checked + i:before
    {
        content: "\f111";
    }

    .customradio input[type="radio"] + label span
    {
        width: 18px;
        height: 18px;
        line-height: 1;
        border: 1px solid #cbd5dd;
        background-color: #fff;
        margin-left: 0px;
        margin-top: -2px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        position: relative;
        font-size: 12px;
    }

    .customradio input[type="radio"]:checked + label span
    {
        border-color: #177bbb!important;
        background: url(../images/radio1.png) center center no-repeat;
    }

.forgotpass
{
    padding-top: 5px;
}

.tableblack .table th.brdrgrayleft
{
    border-left: 1px solid #222733!important;
}

.tableblack .table th.brdrgrayright
{
    border-right: 1px solid #222733!important;
}

.contactcheckbox input[type="checkbox"] + label
{
    position: absolute;
    width: 58px!important;
}

.statuspopup
{
    left: 493px;
    top: -20.5px;
}

.dolarsingn
{
    background: url(../images/dolar_sign.png) no-repeat left center;
}

.quotetable thead tr td
{
    background: #222733!important;
    color: #ffffff!important;
    font-weight: bold;
}

.iconuser
{
    background: #bce0f8;
}

.iconpassword
{
    background: #bce0f8!important;
}

.texmain
{
    background: #bce0f8!important;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}

    .texmain input[type="text"], .texmain input[type="password"]
    {
        width: 85%!important;
        display: block;
        float: right;
    }

    .texmain input[type="text"]
    {
        float: right!important;
    }

        .texmain input[type="text"]:focus, .texmain input[type="password"]:focus
        {
            border: 0px!important;
            float: right;
        }

    .texmain .iconuserlogin
    {
        background: url(../images/icon_username.png) no-repeat right center!important;
        margin-top: 10px;
        display: block;
        width: 30px;
        height: 17px;
        float: right;
    }

    .texmain .iconpasslogin
    {
        background: url(../images/icon_password.png) no-repeat right center!important;
        margin-top: 10px;
        display: block;
        width: 30px;
        height: 17px;
        float: right;
    }


.tooltipwidth
{
    max-width: 200px !important;
}

.tooltip
{
    max-width: 200px!important;
    word-wrap: break-word;
}

.floatright
{
    float: right;
}

.width65
{
    width: 65%!important;
}

.grreniconarea span
{
    position: relative;
}

    .grreniconarea span img
    {
        position: relative;
        z-index: 1;
    }

    .grreniconarea span span.notifiation
    {
        background: #ff0000 none repeat scroll 0 0;
        border-radius: 30px;
        font-size: 11px;
        height: 16px;
        padding: 0 !important;
        position: absolute;
        right: 0;
        text-align: center;
        top: -6px;
        width: 16px;
        z-index: 2;
        color: #fff!important;
    }

    .grreniconarea span span.notifiation
    {
        color: #fff!important;
        cursor: pointer;
    }

.width30
{
    width: 30%!important;
}

ul.othernotification
{
    width: 100%;
    display: inline-block;
    margin: 5px 0px 0px;
    padding: 0px;
}

    ul.othernotification li
    {
        float: left;
        display: inline-block;
        margin: 0px 5px;
    }

        ul.othernotification li input[type="submit"]
        {
            height: 30px;
        }

.floatleft
{
    float: left;
}

.chkbxdisable input[type="checkbox"] + label
{
    pointer-events: none;
}

.posigation
{
    left: -290px;
    top: auto!important;
    bottom: 37px;
}

.disabledbox
{
    background: #eeeeee!important;
    pointer-events: none;
}

.panlenew .panel-heading input[type="submit"], .panlenew .panel-heading a
{
    border-radius: 40px!important;
    height: 30px;
}

    .panlenew .panel-heading a.btn-default
    {
        line-height: 20px!important;
    }

.panlenew .panel-heading select, .panlenew .panel-heading button
{
    height: 30px;
}

.minheight400
{
    min-height: 350px;
}

.imgresponsive .paystat .panel
{
    margin: 5px !important;
}

.imgresponsive .paystat .panel-heading
{
    padding: 13px 15px 15px 15px;
}

.height447
{
    height: 447px;
}

.backnone
{
    background: #e0e6f0;
    box-shadow: none!important;
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
}

.backnone2
{
    background: #e9edf4;
    box-shadow: none!important;
}

.bg-light
{
    background-color: #e9edf4; /*margin-bottom:20px;*/
}

.bg-light2
{
    background-color: #e0e6f0;
    margin-bottom: 20px;
}

#flot-pie-donut table
{
    font-size: 11px!important;
}

.martopbtm
{
    margin-top: 20px!important;
    margin-bottom: 5px!important;
}

.calendarmain table
{
    border: 0px!important;
    border-collapse: collapse;
    background: #e0e6f0;
}

    .calendarmain table.titlecss
    {
        border: 0px!important;
        color: #000!important;
        font-weight: normal!important;
    }

        .calendarmain table.titlecss .nextprev
        {
            background: #e0e6f0!important;
        }

    .calendarmain table tr td
    {
        border: 0px!important;
        padding: 4px 4px 3px;
        background: none!important;
        color: #788288!important;
    }

    .calendarmain table tr th
    {
        border: 0px!important;
        padding: 6px 4px 6px;
        background: none!important;
        color: #788288!important;
    }

    .calendarmain table tr th
    {
        text-align: center!important;
        font-weight: normal!important;
    }

.panel-body.calendarmain
{
    padding: 0px!important;
}

    .panel-body.calendarmain h4 a
    {
        padding: 14px 15px 1px!important;
        display: inline-block!important;
    }

.paystat .font26
{
    font-size: 26px;
    color: #fff;
}

.width40
{
    width: 40px!important;
}

.clearone
{
    display: block;
    overflow: hidden;
}
/*.tableblack table tr td:last-child, .tableblack table tr th:last-child{display:none;}*/
.padd4
{
    padding: 4px 1px!important;
    width: 25px!important;
}

@media screen and (min-width:1600px)
{
    .tableblack.minheight400 div
    {
        width: 100%!important;
    }
}


.disnone
{
    display: none;
}

.paddrightzero
{
    padding-right: 0px!important;
}
/*.dataTable {
    margin: 7px;
    padding: 10px!important;
}*/

.font22
{
    font-size: 22px;
}

.modalbackground
{
    box-shadow: none!important;
}

tr td a.pagebtndesign
{
    cursor: pointer;
    outline: 0 none;
    padding: 4px 8px;
    color: #3c4144!important;
    text-decoration: none;
    text-align: center;
    margin: 0 -2px;
    border-left: 1px solid #d9d9d9!important;
    border-top: 1px solid #d9d9d9!important;
    border-bottom: 1px solid #d9d9d9!important;
    border-right: 1px solid #d9d9d9!important;
    background: #fff!important;
    display: inline-block;
    min-width: 25px;
}

.nonepointer
{
    pointer-events: none;
}

.select_calender .ajax__scroll_none
{
    overflow: inherit!important;
}
.navbar-right .navbar-nav a i{font-size:15px!important;}
.tableblack .table td.tdspecialclass span a, .tableblack .table td.tdspecialclass span span.name {
    display: inline-block;
    float: left!important;
    max-width: 70%;
}
.wdth100 {width:100px
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{vertical-align:middle!important;}

input[type="text"].aspNetDisabled {
    background-color: #eee; border:1px solid #e4e5e7;
    opacity: 1;
}